Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

security: add .env.aws to .gitignore to prevent credential exposure
  .gitignore
Due: none

fix: restore defineNuxtConfig import for docs app typecheck
  apps/docs/nuxt.config.ts
Due: build:docs, pages

chore: remove duplicate nested locales directory
  apps/game/i18n/locales/locales/de.json
  apps/game/i18n/locales/locales/en.json
Due: test, build

docs: add known issues documentation
  docs/KNOWN-ISSUES.md
Due: build:docs, pages

refactor: codebase improvements and build fixes
  .trunk/actions
  .trunk/logs
  .trunk/notifications
  .trunk/plugins/trunk
  .trunk/tools
  apps/docs/.data/content/contents.sqlite
  apps/game/assets/css/design-system.css
Due: test, build, build:docs, pages

refactor: comprehensive codebase refactoring
  apps/docs/package.json
  docker-compose.yml
  docs/README.md
  infrastructure/environments/development/README.md
Due: build:docs, pages

fix: exclude capacitor.config.ts from typechecking
  apps/game/tsconfig.json
Due: test, build

fix: remove dev/staging from GitLab Pages, deploy to AWS instead
  .gitlab-ci.yml
Due: test

chore: cleanup markdown files and add development stage summary
  .gitlab-ci-test.md
  .gitlab-ci.yml
  BUILD-ISSUES.md
  CLEANUP-SUMMARY.md
  COMPREHENSIVE-TEST-REPORT.md
  COMPREHENSIVE-TEST-SUMMARY.md
  DEV-STAGE.md
  DOCUMENTATION.md
  FINAL-TEST-RESULTS.md
  GITLAB-PAGES-DEPLOYMENT.md
  HUSKY-TURBOREPO-IMPLEMENTATION.md
  IMPLEMENTATION-SUMMARY.md
  IMPORT-INFRASTRUCTURE.md
  MANUAL-SETUP-TASKS.md
  MIGRATION-PLAN.md
  MONOREPO-SUMMARY.md
  MONOREPO.md
  ORGANIZATION_SUMMARY.md
  REFACTORING_COMPLETE.md
  REFACTORING_PLAN.md
  REFERENCE-FIXES.md
  TEST-RESULTS.md
  TEST-SUMMARY.md
  TESTING-COMPLETE.md
  TESTING-GUIDE.md
  TESTING_AND_FIXES_COMPLETE.md
  TRELLO-UPDATE.md
Due: test

docs: update README and CLAUDE.md with current URLs and deployment info
  CLAUDE.md
  README.md
Due: build:docs, pages

docs: fix GitLab Pages deployment section in CLAUDE.md
  CLAUDE.md
Due: build:docs, pages

docs: add CloudFront URLs for dev and prod in README
  README.md
Due: build:docs, pages

docs: add actual CloudFront URLs from Terraform outputs
  README.md
Due: build:docs, pages

docs: add note about access denied until first deployment
  README.md
Due: build:docs, pages

chore: deploy app to AWS dev and prod environments
  README.md
  deployment-info.json
Due: build:docs, pages

feat: add E2E test verification to local AWS deployments
  aws-deploy.sh
Due: none

docs: add deployment verification documentation
  docs/DEPLOYMENT-VERIFICATION.md
Due: build:docs, pages

docs: update README with E2E test verification info
  README.md
Due: build:docs, pages

feat: use Terraform outputs for all deployments
  .gitlab-ci.yml
  CLAUDE.md
  DEV-STAGE.md
  README.md
  aws-deploy.sh
  deployment-info.json
  docs/DEPLOYMENT-VERIFICATION.md
  scripts/get-terraform-outputs.sh
Due: test, build:docs, pages

fix: get CloudFront domains from Terraform in E2E verify jobs
  .gitlab-ci.yml
Due: test

more automatic magic
  .claude/settings.local.json
  .env.aws.example
  .gitlab-ci.yml
  apps/game/components/Leaderboard.vue
  apps/game/components/SettingsModal.vue
  apps/game/composables/useForm.ts
  apps/game/composables/useLogger.ts
  apps/game/composables/useModal.ts
  apps/game/package.json
  apps/game/pages/game.vue
  apps/game/playwright.config.ts
  apps/game/stores/settings.ts
  apps/game/tests/e2e/accessibility.spec.ts
  apps/game/tests/e2e/game-flow.spec.ts
  apps/game/tests/e2e/menu.spec.ts
  apps/game/tests/e2e/mvp-critical-flow.spec.ts
  apps/game/tests/e2e/players.spec.ts
  apps/game/tests/unit/game-store.spec.ts
  apps/game/tests/utils/e2e-helpers.ts
  aws-deploy.sh
  deployment-info.json
  docs/nuxt.config.ts
  docs/pages/[...slug].vue
  infrastructure/environments/development/.claude/settings.local.json
  infrastructure/environments/development/.env.terraform
  infrastructure/environments/development/outputs.tf
  infrastructure/environments/development/terraform-outputs.json
  infrastructure/environments/prod/.env.terraform
  infrastructure/environments/prod/outputs.tf
  infrastructure/environments/prod/terraform-outputs.json
  nuxt.config.terraform.ts
  package.json
  scripts/ci-e2e.sh
  scripts/deploy-with-terraform.sh
  scripts/e2e-deployed.sh
  scripts/sync-terraform-outputs.sh
Due: test, build, build:docs, pages

refactor: improve husky hooks with CodeRabbit best practices
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/game/components/SettingsModal.vue
  apps/game/playwright.config.ts
  apps/game/tests/utils/e2e-helpers.ts
Due: test, build

feat: improve Nuxt app configuration and remove incompatible nuxt-gtag
  apps/game/app.vue
  apps/game/composables/useAnalytics.ts
  apps/game/nuxt.config.ts
  apps/game/types/gtag.d.ts
Due: test, build

refactor: restructure Terraform infrastructure with reusable module
  infrastructure/REFACTORING.md
  infrastructure/environments/development/main.tf
  infrastructure/environments/development/outputs.tf
  infrastructure/environments/prod/main.tf
  infrastructure/environments/production/README.md
  infrastructure/environments/staging/backend.hcl
  infrastructure/environments/staging/main.tf
  infrastructure/environments/staging/outputs.tf
  infrastructure/environments/staging/terraform.tfvars.example
  infrastructure/environments/staging/variables.tf
  infrastructure/modules/s3-cloudfront/README.md
  infrastructure/modules/s3-cloudfront/main.tf
  infrastructure/modules/s3-cloudfront/outputs.tf
  infrastructure/modules/s3-cloudfront/variables.tf
Due: none

fix: correct template literal syntax in game.vue
  apps/game/pages/game.vue
Due: test, build

circleci config
  .circleci/config.yml
  README.md
  apps/game/app.vue
  apps/game/pages/index.vue
  apps/game/playwright.config.ts
  aws-deploy.sh
  docs/CIRCLECI-SETUP.md
  docs/DEPLOYMENT-SCRIPTS.md
  scripts/build-docker-image.sh
  scripts/check-dependencies.sh
  scripts/check-secrets.sh
  scripts/ci-build.sh
  scripts/ci-deploy.sh
  scripts/ci-e2e.sh
  scripts/ci-test.sh
  scripts/deploy-common.sh
  scripts/deploy-dev.sh
  scripts/deploy-prod.sh
  scripts/deploy-staging.sh
  scripts/deploy-with-terraform.sh
  scripts/deploy.sh
  scripts/e2e-deployed.sh
  scripts/e2e-local.sh
  scripts/get-terraform-outputs.sh
  scripts/lib.sh
  scripts/setup-aws-iam.sh
  scripts/sync-terraform-outputs.sh
Due: test, build, build:docs, pages

e2e tests
  apps/game/pages/about.vue
Due: test, build

fix: update CircleCI pnpm setup for ES modules compatibility
  .circleci/config.yml
  scripts/lib.sh
Due: none

e2e tests
  .circleci/config.yml
  .grok/settings.json
Due: none

fix: circleci
  .circleci/config.yml
  .sonarlint/connectedMode.json
  .vscode/settings.json
  apps/game/playwright.config.ts
  apps/game/tests/utils/e2e-helpers.ts
  scripts/check-secrets.sh
Due: test, build

fix: circleci
  .circleci/config.yml
  apps/game/tests/e2e/menu.spec.ts
  pnpm-workspace.yaml
  turbo.json
Due: test, build

fix: circleci
  .circleci/config.yml
  AGENTS.md
  docs/CIRCLECI-SETUP.md
  package.json
Due: test, build, build:docs, pages

fix: circleci2
  .circleci/config.yml
  .gitlab-ci.yml
Due: test

refactor: consolidate CircleCI configuration and fix pnpm setup
  .circleci/config.yml
Due: none

fix: remove corepack enable to avoid permission errors
  .circleci/config.yml
Due: none

fix: remove corepack enable from CI scripts
  scripts/lib.sh
Due: none

fix: update SonarCloud config for monorepo structure
  sonar-project.properties
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
