Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

test: add multiple mobile device configurations for Playwright
  apps/game/playwright.config.ts
Due: test, build

chore(playwright): configure for Samsung browser (most popular in Germany)
  apps/game/playwright.config.ts
Due: test, build

feat(playwright): enable parallel E2E tests across multiple devices
  apps/game/playwright.config.ts
Due: test, build

chore(playwright): simplify to mobile-chrome only for now
  apps/game/playwright.config.ts
Due: test, build

fix(e2e): remove retries and simplify device matrix for local testing
  .gitignore
  .python-version
  .vscode/settings.json
  CLEANUP_REPORT.md
  apps/game/tests/e2e/credits.spec.ts
  apps/game/tests/e2e/players.spec.ts
  docs/archive/PERFORMANCE_OPTIMIZATION_SUMMARY.md
  docs/archive/PIPELINE_MAINTENANCE_REPORT.md
  junit.xml
  packages/config/package.json
  packages/shared/.turbo/turbo-typecheck.log
  packages/types/.turbo/turbo-typecheck.log
  pyproject.toml
Due: test, build, build:docs, pages

fix(e2e): fix credits assets, disable CSP nonces, add wait strategies
  apps/game/nuxt.config.ts
  apps/game/pages/credits.vue
  apps/game/tests/e2e/credits.spec.ts
  apps/game/tests/e2e/game-complete-flow.spec.ts
  junit.xml
Due: test, build

fix(e2e): fix ESLint errors and remove debug test
  apps/game/plugins/i18n-init.client.ts
  junit.xml
Due: test, build

test(e2e): attempt fixes for JavaScript initialization error
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  apps/game/package.json
  junit.xml
  pnpm-lock.yaml
Due: test, build

feat(e2e): add Playwright-BDD (Gherkin/Cucumber) support
  apps/game/.gitignore
  apps/game/eslint.config.mjs
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/playwright-bdd.config.ts
  apps/game/playwright.config.ts
  apps/game/plugins/i18n-init.client.ts
  apps/game/tests/features/credits.feature
  apps/game/tests/features/game-flow.feature
  apps/game/tests/steps/common.steps.ts
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build

feat(e2e): disable nuxt-security for tests, fix plugin dependencies
  apps/game/nuxt.config.ts
  apps/game/playwright.config.ts
  apps/game/plugins/gtag.client.ts
  apps/game/plugins/i18n-init.client.ts
Due: test, build

fix(e2e): restore regular test directory, add Vite dedupe config
  apps/game/nuxt.config.ts
  apps/game/playwright.config.ts
Due: test, build

feat: integrate Gherkin/Cucumber BDD tests with Playwright
  apps/game/package.json
  apps/game/playwright.config.ts
  apps/game/tests/steps/common.steps.ts
Due: test, build

feat(composables): add built-in performance measurement utilities
  apps/game/.vite/stats.html
  apps/game/composables/usePerformance.ts
  apps/game/nuxt.config.ts
  apps/game/playwright-report-bdd/data/4e2da4450a224b18c342c9dd16d9fc375242c1ad.png
  apps/game/playwright-report-bdd/index.html
  apps/game/plugins/performance.client.ts
  apps/game/tests/e2e/debug-console.spec.ts
  apps/game/tests/unit/use-performance.spec.ts
  docs/PERFORMANCE.md
  docs/SSR-DEPLOYMENT.md
  infrastructure/modules/lambda-ssr/README.md
  infrastructure/modules/lambda-ssr/main.tf
  infrastructure/modules/lambda-ssr/outputs.tf
  infrastructure/modules/lambda-ssr/variables.tf
  infrastructure/ssr-lambda.tf
  infrastructure/variables.tf
  junit.xml
  scripts/build-lambda.sh
Due: test, build, build:docs, pages

feat(infrastructure): add WebSocket monitoring with DynamoDB, Lambda, and CloudWatch
  .gitignore
  docs/WEBSOCKET-MONITORING.md
  infrastructure/cloudwatch-api.tf
  infrastructure/dashboard.tf
  infrastructure/dynamodb.tf
  infrastructure/environments/development/development-enhanced/main.tf
  infrastructure/environments/development/main.tf
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/production-enhanced/main.tf
  infrastructure/lambda/websocket/.eslintrc.json
  infrastructure/lambda/websocket/connect/index.js
  infrastructure/lambda/websocket/connect/package-lock.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/index.js
  infrastructure/lambda/websocket/disconnect/package-lock.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/index.js
  infrastructure/lambda/websocket/message/package-lock.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/main.tf
  infrastructure/modules/blue-green-deployment/main.tf
  infrastructure/modules/cloudfront-enhanced/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/lambda-ssr/main.tf
  infrastructure/monitoring.tf
  infrastructure/outputs.tf
  infrastructure/state-bucket/main.tf
  infrastructure/state-bucket/outputs.tf
  infrastructure/websocket.tf
  scripts/build-websocket-lambdas.sh
Due: build:docs, pages

feat(websocket): integrate Socket.IO with Nuxt for real-time connections
  apps/game/components/ConnectionStatus.vue
  apps/game/composables/useWebSocket.ts
  apps/game/layouts/default.vue
  apps/game/package.json
  apps/game/pages/websocket-demo.vue
  apps/game/plugins/websocket.client.ts
  apps/game/server/plugins/socket.ts
  docs/WEBSOCKET-NUXT.md
  pnpm-lock.yaml
Due: test, build, build:docs, pages

feat(websocket): add feature flag to control WebSocket visibility
  apps/game/composables/useFeatureFlags.ts
  apps/game/layouts/default.vue
  apps/game/plugins/websocket.client.ts
  apps/game/server/plugins/socket.ts
  apps/game/stores/settings.ts
Due: test, build

docs: update WebSocket documentation with feature flag usage
  docs/WEBSOCKET-NUXT.md
Due: build:docs, pages

style: apply eslint formatting fixes
  apps/docs/pages/index.vue
  apps/game/composables/usePerformance.ts
  apps/game/composables/useWebSocket.ts
  apps/game/plugins/performance.client.ts
Due: test, build, build:docs, pages

fix(infrastructure): correct CloudFront distribution IDs in Terraform outputs
  infrastructure/environments/development/.env.terraform
  infrastructure/environments/development/terraform-outputs.json
  infrastructure/environments/production/terraform-outputs.json
  scripts/aws-deploy.sh
  scripts/sync-terraform-outputs.sh
Due: none
