Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

fix: configure SonarCloud environment variables in CircleCI
  .circleci/config.yml
Due: none

fix: prevent ANSI escape codes in AWS deployment variables
  .circleci/config.yml
Due: none

fix: remove flaky assertion from game store test
  apps/game/tests/unit/game-store.spec.ts
Due: test, build

fix: properly configure AWS credentials in deploy jobs
  .circleci/config.yml
Due: none

fix: add AWS_DEFAULT_REGION for Terraform and AWS CLI
  .circleci/config.yml
Due: none

fix: remove environment section from SonarCloud job
  .circleci/config.yml
Due: none

fix: circleci aws deploy credentials
  .circleci/config.yml
Due: none

fix: circleci2
  .circleci/Dockerfile
  .circleci/build-docker-image.sh
  .circleci/config.yml
  .claude/settings.local.json
  .cursor/mcp.json
  .mcp.json
  docs/CIRCLECI-DOCKER-IMAGE.md
Due: build:docs, pages

fix: add CircleCI context for deploy-aws-dev
  .circleci/config.yml
Due: none

fix: resolve Sonar .vue language conflict
  .circleci/config.yml
  sonar-project.properties
Due: none

fix: avoid terraform output override in CI
  aws-deploy.sh
Due: none

fix: attach build output to deploy jobs
  .circleci/config.yml
Due: none

ci: run MVP e2e alongside unit tests
  .circleci/config.yml
Due: none

fix: verify
  .circleci/Dockerfile
  .circleci/config.yml
  apps/game/tsconfig.sonar.json
  sonar-project.properties
Due: test, build

fix: use terraform backend for cloudfront verify
  .circleci/config.yml
Due: none

fix: enable Terraform S3 backend for CI to access remote state
  .circleci/config.yml
  infrastructure/environments/development/main.tf
  infrastructure/environments/prod/main.tf
Due: none

feat: add terraform apply to CI deploy jobs
  .circleci/config.yml
Due: none

fix: create Terraform state backend resources in CI
  .circleci/config.yml
Due: none

fix: resolve lint violations
  apps/game/playwright.config.ts
  scripts/ci-e2e.sh
Due: test, build

fix: include lint and ci updates
  .circleci/config.yml
Due: none

fix: update ci and terraform state moves
  .circleci/config.yml
  infrastructure/environments/development/main.tf
Due: none

fix: stabilize terraform dev bucket and ci import
  .circleci/config.yml
  infrastructure/environments/development/main.tf
Due: none

ci: run workflows only in deploy pipelines
  .circleci/config.yml
Due: none

fix: handle missing CloudFront distribution gracefully in deployment
  apps/game/tests/e2e/mvp-critical-flow.spec.ts
  aws-deploy.sh
Due: test, build

fix: optimize SonarCloud and ensure deployment uses Terraform apply outputs
  .circleci/config.yml
  aws-deploy.sh
  sonar-project.properties
Due: none

fix: remove hardcoded infrastructure values and prevent stale cache usage
  .gitignore
  aws-deploy.sh
  deployment-info.json
  infrastructure/environments/development/.env.terraform
  infrastructure/environments/development/terraform-outputs.json
  infrastructure/environments/prod/.env.terraform
  infrastructure/environments/prod/terraform-outputs.json
Due: none

fix: disable SonarCloud SCM/blame for shallow repositories
  .circleci/config.yml
Due: none

ci: harden sonarcloud git history
  .circleci/config.yml
Due: none

chore: quiet ci verification and test warnings
  .circleci/config.yml
  apps/docs/content.config.ts
  apps/game/tests/unit/setup.ts
  apps/game/vitest.config.ts
Due: test, build, build:docs, pages

fix: use Playwright Docker image for E2E MVP tests in CircleCI
  .circleci/config.yml
Due: none

chore: update ci and e2e config
  .circleci/config.yml
  .gitlab-ci.yml
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/playwright.config.ts
  apps/game/tests/utils/e2e-helpers.ts
  infrastructure/modules/s3-cloudfront/main.tf
  pnpm-lock.yaml
  scripts/ci-e2e.sh
Due: test, build

fix: align vite plugin types
  apps/game/nuxt.config.ts
  apps/game/vitest.config.ts
Due: test, build

fix: relax vitest plugin typing
  apps/game/vitest.config.ts
Due: test, build

fix: pin gitlab ci job image
  .gitlab-ci.yml
Due: test

fix: avoid pnpm in playwright web server
  apps/game/playwright.config.ts
Due: test, build

fix: install build tools for docs generate
  .gitlab-ci.yml
Due: test

fix: run serve via node entry
  apps/game/playwright.config.ts
Due: test, build

chore: enforce pnpm store in gitlab ci
  .gitlab-ci.yml
Due: test

chore: remove e2e jobs from circleci
  .circleci/config.yml
Due: none

fix: build better-sqlite3 in gitlab ci
  .gitlab-ci.yml
Due: test

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
