Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

Revert "fix: explicitly disable SW navigateFallback to prevent blank page on static hosts"
  apps/game/nuxt.config.ts
Due: test, build

perf(game): faster splash, defer GA, SEO meta, slimmer i18n bundle
  apps/game/app.vue
  apps/game/components/SplashScreen.vue
  apps/game/nuxt.config.ts
  apps/game/plugins/gtag.client.ts
Due: test, build

fix(deploy): minify AWS dev static build to fix blank dev.riddlerush.de
  scripts/aws-deploy.sh
  scripts/deploy-dev.sh
Due: none

feat: 1.5.8 version bump
  apps/game/package.json
  apps/mobile/ios/App/App.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/tolgee/package.json
  infrastructure/lambda/error-logs/package.json
  infrastructure/lambda/package.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  tools/composio/package.json
  tools/langchain/package.json
  tools/latitude-llm/package.json
  tools/my-stagehand-app/package.json
  tools/oclif/package.json
Due: test, build

fix: end-to-end tests, pwa update
  apps/game/tests/e2e/pwa-update.spec.ts
Due: test, build

chore(game): add client debug ingest for dev.riddlerush.de session 0f751a
  apps/game/plugins/01.agent-debug-session.client.ts
Due: test, build

fix(game): disable nuxt-security SSG script hashes for static CSP
  apps/game/nuxt.config.ts
Due: test, build

fix(game): harden speech dictation UX and a11y
  .gitignore
  apps/game/pages/game/[[gameId]].vue
  apps/game/tests/e2e/answer-input-mic.spec.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

fix: linting
  apps/game/stores/hooks/useSettings.ts
  apps/game/stores/settingsStore.ts
  packages/config/coverage/coverage-final.json
  scripts/aws-deploy.sh
  scripts/deploy-dev.sh
Due: test, build

feat(game): improve dev error visibility (error page, Vue logs, HMR overlay)
  apps/game/error.vue
  apps/game/nuxt.config.ts
  apps/game/plugins/error-sync.client.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

fix: eslint
  .planning/STATE.md
  .trunk/trunk.yaml
  .vscode/extensions.json
  apps/game/app.vue
  apps/game/package.json
  apps/game/pages/settings.vue
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/riddle-cli/src/commands/build.ts
  packages/riddle-cli/src/commands/check.ts
  packages/riddle-cli/src/commands/deploy.ts
  packages/riddle-cli/src/commands/dev.ts
  packages/riddle-cli/src/commands/i18n.ts
  packages/riddle-cli/src/commands/infra.ts
  packages/riddle-cli/src/commands/maintain.ts
  packages/riddle-cli/src/commands/mobile.ts
  packages/riddle-cli/src/commands/npm/list.ts
  packages/riddle-cli/src/commands/npm/run.ts
  packages/riddle-cli/src/commands/test.ts
  packages/riddle-cli/src/commands/version.ts
  packages/shared/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: test, build

Install and Configure Vercel Speed Insights
  apps/game/nuxt.config.ts
  apps/game/package.json
  pnpm-lock.yaml
Due: test, build

chore: prepare deployment
  .env.example
  .kilo/kilo.json
  .kilo/package.json
  .opencode/package.json
  .vercelignore
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/vercel.json
  apps/mobile/ios/App/App.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/tolgee/package.json
  infrastructure/lambda/error-logs/package.json
  infrastructure/lambda/package.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tools/composio/package.json
  tools/langchain/package.json
  tools/latitude-llm/package.json
  tools/my-stagehand-app/package.json
  tools/oclif/package.json
  vercel.json
Due: test, build

feat: more refactorements
  AGENTS.md
  CLAUDE.md
  apps/game/.vercelignore
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/tests/e2e/helpers/index.ts
  apps/game/tests/e2e/helpers/realtime.ts
Due: test, build, build:docs, pages

chore: prepare deployment
  apps/game/components/PauseModal.vue
  apps/game/tests/e2e/game-complete-flow.spec.ts
  apps/game/tests/e2e/helpers/game-flow.ts
  apps/game/tests/e2e/round-start.spec.ts
Due: test, build

fix: repair pnpm lockfile duplicates and sync with tolgee package
  pnpm-lock.yaml
Due: test, build

chore: 1.6.1 update
  apps/game/package.json
  apps/mobile/ios/App/App.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/tolgee/package.json
  infrastructure/lambda/error-logs/package.json
  infrastructure/lambda/package.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  tools/composio/package.json
  tools/langchain/package.json
  tools/latitude-llm/package.json
  tools/my-stagehand-app/package.json
  tools/oclif/package.json
Due: test, build

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

fix: right before game
  .github/workflows/codeql.yml
  .github/workflows/infrastructure.yml
Due: none

feat:latest changes
  .gitignore
  .planning/STATE.md
  .vercel/project.json
  apps/mobile/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  apps/mobile/android/.gradle/buildOutputCleanup/outputFiles.bin
  apps/mobile/android/.gradle/file-system.probe
  apps/mobile/android/app/src/main/assets/public/200.html
  apps/mobile/android/app/src/main/assets/public/404.html
  apps/mobile/android/app/src/main/assets/public/_nuxt/builds/latest.json
  apps/mobile/android/app/src/main/assets/public/index.html
  apps/mobile/android/app/src/main/assets/public/sw.js
Due: none

feat: update to v1.6.2
  apps/game/package.json
  apps/mobile/ios/App/App.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/tolgee/package.json
  infrastructure/lambda/error-logs/package.json
  infrastructure/lambda/package.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  tools/composio/package.json
  tools/langchain/package.json
  tools/latitude-llm/package.json
  tools/my-stagehand-app/package.json
  tools/oclif/package.json
Due: test, build

feat: update to v1.6.3
  apps/game/package.json
  apps/game/plugins/pinia.client.ts
  apps/game/stores/settingsStore.ts
  apps/game/tests/unit/settings-store.spec.ts
  apps/mobile/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  apps/mobile/android/.gradle/file-system.probe
  apps/mobile/ios/App/App.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/tolgee/package.json
  infrastructure/lambda/error-logs/package.json
  infrastructure/lambda/package.json
  infrastructure/lambda/websocket/connect/package.json
  infrastructure/lambda/websocket/disconnect/package.json
  infrastructure/lambda/websocket/message/package.json
  infrastructure/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  tools/composio/package.json
  tools/langchain/package.json
  tools/latitude-llm/package.json
  tools/my-stagehand-app/package.json
  tools/oclif/package.json
Due: test, build

Potential fix for code scanning alert no. 24: Incomplete string escaping or encoding
  .github/get-shit-done/bin/lib/profile-output.cjs
Due: none

fix: Move vercel.json and .vercelignore to project root
  .planning/STATE.md
  .vercelignore
  vercel.json
Due: none

chore: added Brewfile
  Brewfile
  apps/mobile/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  apps/mobile/android/.gradle/file-system.probe
  apps/mobile/android/app/src/main/assets/public/200.html
  apps/mobile/android/app/src/main/assets/public/404.html
  apps/mobile/android/app/src/main/assets/public/_nuxt/builds/latest.json
  apps/mobile/android/app/src/main/assets/public/index.html
  apps/mobile/android/app/src/main/assets/public/sw.js
  flags.json
  tag
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
