Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

fix: resolve useModals type issues and test failures
  apps/game/composables/useModal.ts
Due: test, build

fix: resolve useFeatureFlags test failures and TypeScript errors
  apps/game/.gitignore
  apps/game/composables/useErrorSync.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
  apps/game/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: test, build

fix: resolve CircleCI Trunk flaky test detection coverage conflict
  apps/game/composables/useErrorSync.ts
  apps/game/vitest.config.ts
  scripts/run-tests-with-trunk.sh
Due: test, build

test: add unit tests for useLogger, useMenu, useAssets, and usePageSwipe
  apps/game/components/Base/ImageButton.vue
  apps/game/composables/useOptimizedImage.ts
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/game.vue
  apps/game/pages/round-start.vue
  apps/game/tests/unit/setup.ts
  apps/game/tests/unit/use-assets.spec.ts
  apps/game/tests/unit/use-logger.spec.ts
  apps/game/tests/unit/use-menu.spec.ts
  apps/game/tests/unit/use-page-swipe.spec.ts
  apps/game/vitest.config.ts
  package.json
  packages/config/dist/tsconfig.tsbuildinfo
  packages/config/vite.config.ts
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: test, build

fix: resolve all unit test failures
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/tests/unit/setup.ts
  apps/game/tests/unit/use-assets.spec.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
  apps/game/tests/unit/use-lodash.spec.ts
  apps/game/tests/unit/use-logger.spec.ts
  apps/game/tests/unit/use-menu.spec.ts
  apps/game/tests/unit/use-page-swipe.spec.ts
  packages/config/.turbo/turbo-typecheck.log
  packages/config/dist/tsconfig.tsbuildinfo
Due: test, build

fix: add TypeScript non-null assertions in test mocks
  apps/game/tests/unit/use-assets.spec.ts
Due: test, build

fix(testing): align trunk and playwright configs
  .circleci/TRUNK_FLAKY_TESTS.md
  .env.monorepo
  .prettierignore
  apps/game/.vite/stats.html
  apps/game/E2E_TEST_FIXES_SUMMARY.md
  apps/game/eslint.config.mjs
  apps/game/package.json
  apps/game/playwright-report-simple/index.html
  apps/game/playwright.config.ts
  apps/game/playwright.simple.config.ts
  apps/game/scripts/run-e2e-tests.sh
  apps/game/tests/e2e/game-flow.spec.ts
  apps/game/tests/e2e/menu.spec.ts
  apps/game/tests/e2e/players.spec.ts
  apps/game/tests/e2e/simple-test.spec.ts
  apps/game/tests/unit/setup.ts
  apps/game/tests/unit/use-lodash.spec.ts
  apps/game/tests/unit/use-logger.spec.ts
  apps/game/tsconfig.json
  packages/config/dist/tsconfig.tsbuildinfo
  scripts/run-tests-with-trunk.sh
Due: test, build

fix(test): run vitest in non-watch mode
  apps/docs/content/development/getting-started.md
  apps/game/package.json
Due: test, build, build:docs, pages

fix(docs): normalize env defaults and add content config
  apps/docs/.env
  apps/docs/content.config.ts
Due: build:docs, pages

feat: comprehensive E2E test improvements and CircleCI integration
  .circleci/E2E_TESTS_README.md
  .circleci/config.yml
  apps/game/.vite/stats.html
Due: test, build

chore: remove E2E workflow to resolve CircleCI workflow limit
  .circleci/config.yml
Due: none

fix(test): restore vitest coverage
  apps/game/package.json
  package.json
  pnpm-lock.yaml
Due: test, build

chore: ignore turbo typecheck logs
  .gitignore
  packages/config/.turbo/turbo-typecheck.log
Due: test, build

fix: resolve CircleCI test results not found error
  .circleci/config.yml
  scripts/run-tests-with-trunk.sh
Due: none

fix: persist test results between CircleCI jobs
  .circleci/config.yml
Due: none

chore: ignore Trunk CLI cache directory
  .gitignore
Due: none

feat: update agent setup and game docs
  .python-version
  apps/docs/content/architecture/overview.md
  apps/docs/content/architecture/state-management.md
  apps/game/.vite/stats.html
  apps/game/ANDROID.md
  apps/game/E2E_TEST_FIXES_SUMMARY.md
  apps/game/LOCAL_DEVELOPMENT.md
  apps/game/README.md
  apps/game/composables/useLodash.ts
  apps/game/composables/useNavigation.ts
  apps/game/plugins/README.md
  apps/game/public/ICONS_README.md
  apps/game/stores/game.ts
  apps/game/tests/unit/use-lodash.spec.ts
  docs/README.md
  docs/setup/AGENT-SETUP.md
  docs/setup/agent-configs/kilocode.perplexity.json
  docs/setup/agent-configs/opencode.perplexity.json
  main.py
  pyproject.toml
  scripts/setup-agent-configs.sh
Due: test, build, build:docs, pages

fix(game): sync language routing and menu ux
  apps/game/app.vue
  apps/game/components/QuitModal.vue
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/plugins/i18n-init.client.ts
  apps/game/stores/settings.ts
  apps/game/tests/e2e/language.spec.ts
Due: test, build

chore: add locale validation script
  package.json
  scripts/validate-locales.mjs
Due: test, build

perf: optimize app performance with memoization and code splitting
  apps/game/components/GameHistory.vue
  apps/game/nuxt.config.ts
  apps/game/pages/game.vue
  apps/game/pages/players.vue
  apps/game/pages/results.vue
  apps/game/stores/game.ts
Due: test, build

chore: remove deprecated Husky v10 lines from hook files
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

docs: add comprehensive agent workflow documentation
  README.md
  docs/development/AGENT-WORKFLOW.md
  scripts/README.md
Due: build:docs, pages

feat: add flaky test upload and lint/style check scripts
  scripts/README.md
  scripts/check-lint-style.sh
  scripts/upload-flaky-tests.sh
Due: none

chore: move trunk token to environment variable for security
  .gitignore
  scripts/README.md
  scripts/upload-flaky-tests.sh
Due: none

feat: new code and it looks awesome!
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  junit.xml
Due: test, build

perf: optimize performance and refactor critical areas
  apps/game/.vite/stats.html
  apps/game/composables/useIndexedDB.ts
  apps/game/composables/useLodash.ts
  apps/game/composables/useOptimizedImage.ts
  apps/game/nuxt.config.ts
Due: test, build

docs: add performance optimization summary
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
Due: none

fix(e2e): remove tests for non-existent pages and rename alphabet test
  apps/game/tests/e2e/about.spec.ts
  apps/game/tests/e2e/accessibility.spec.ts
  apps/game/tests/e2e/menu.spec.ts
  apps/game/tests/e2e/round-start.spec.ts
  apps/game/tests/e2e/simple-test.spec.ts
Due: test, build

docs: add aws resource analysis and terraform simplification plan
  infrastructure/AWS_RESOURCE_ANALYSIS.md
  infrastructure/TERRAFORM_SIMPLIFICATION.md
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/s3-website/main.tf
  scripts/cleanup-s3-buckets.sh
Due: none

feat: add cloudfront performance optimization guide and enhanced module
  infrastructure/CLOUDFRONT_PERFORMANCE_OPTIMIZATION.md
  infrastructure/modules/cloudfront-enhanced/main.tf
Due: none

feat: add enhanced cloudfront deployment configurations with optional domain
  infrastructure/ENHANCED_DEPLOYMENT_GUIDE.md
  infrastructure/environments/development-enhanced/main.tf
  infrastructure/environments/production-enhanced/main.tf
Due: none

feat: rename stages back and use enhanced cloudfront module
  infrastructure/environments/development/development-enhanced/main.tf
  infrastructure/environments/development/main.tf
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/production-enhanced/main.tf
Due: none

feat: implement blue-green deployment strategy to eliminate 404 errors
  apps/docs/package.json
  apps/game/package.json
  infrastructure/BLUE_GREEN_DEPLOYMENT_GUIDE.md
  infrastructure/BLUE_GREEN_IMPLEMENTATION_SUMMARY.md
  infrastructure/environments/development/main.tf
  infrastructure/environments/development/outputs.tf
  infrastructure/environments/development/variables.tf
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/outputs.tf
  infrastructure/environments/production/variables.tf
  infrastructure/modules/blue-green-deployment/main.tf
  infrastructure/modules/blue-green-deployment/variables.tf
  infrastructure/modules/cloudfront-enhanced/main.tf
  infrastructure/test-blue-green-config.sh
  infrastructure/test-blue-green-simple.sh
  infrastructure/test-blue-green-switching.sh
  junit.xml
  package.json
  packages/config/dist/tsconfig.tsbuildinfo
  packages/config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.tsbuildinfo
  packages/types/package.json
  packages/types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: test, build, build:docs, pages

fix: correct malformed variable expansions in deploy-common.sh
  scripts/lib/deploy-common.sh
Due: none

fix: correct malformed variable references in terraform-plan.sh
  scripts/terraform-plan.sh
Due: none

fix: wrong project name and e2e fixes
  apps/game/.vite/stats.html
  docs/ASSET-OPTIMIZATION.md
  docs/AWS-ASSET-OPTIMIZATION.md
  docs/BUILD-OPTIMIZATION.md
  docs/PERFORMANCE-OPTIMIZATION-ANALYSIS.md
  docs/screenshots/pages/Splash screen.png
Due: test, build, build:docs, pages

test: add multi-round game test with point accumulation and champion detection
  apps/game/tests/e2e/multi-round-champion.spec.ts
Due: test, build

test: consolidate game flow e2e tests into single comprehensive file
  apps/game/tests/e2e/game-complete-flow.spec.ts
  apps/game/tests/e2e/game-flow.spec.ts
  apps/game/tests/e2e/game.spec.ts
  apps/game/tests/e2e/helpers/faker.ts
  apps/game/tests/e2e/multi-round-champion.spec.ts
  apps/game/tests/e2e/multiplayer-flow.spec.ts
Due: test, build
