Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

chore: deploy prod only on tags
  .circleci/config.yml
Due: none

fix: verify
  apps/game/components/Base/Modal.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/Leaderboard.vue
  apps/game/composables/useForm.ts
  apps/game/composables/useIndexedDB.ts
  apps/game/composables/useModal.ts
  apps/game/tests/e2e/accessibility.spec.ts
  apps/game/tests/unit/game-store.spec.ts
  apps/game/tsconfig.json
  infrastructure/environments/development/.env.terraform
  infrastructure/environments/development/terraform-outputs.json
Due: test, build

fix: verify
  apps/game/app.vue
  apps/game/components/DebugPanel.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/GameHistory.vue
  apps/game/components/Leaderboard.vue
  apps/game/components/PlayerLeaderboard.vue
  apps/game/components/SettingsModal.vue
  apps/game/components/Toast.vue
  apps/game/composables/useAnalytics.ts
  apps/game/composables/useAnswerCheck.ts
  apps/game/composables/useGameActions.ts
  apps/game/composables/useModal.ts
  apps/game/nuxt.config.ts
  apps/game/stores/game.ts
  apps/game/tests/unit/use-toast.spec.ts
  apps/game/tests/utils/factories.ts
  apps/game/tsconfig.json
Due: test, build

fixed lint
  apps/game/nuxt.config.ts
  apps/game/package.json
Due: test, build

fix: typecheck and deployment
  .trunk/.gitignore
  .trunk/actions
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/svgo.config.mjs
  .trunk/logs
  .trunk/notifications
  .trunk/riddle-rush-nuxt-pwa.code-workspace
  .trunk/tools
  .trunk/trunk.yaml
  CLAUDE.md
  apps/game/components/Base/ImageButton.vue
  apps/game/nuxt.config.ts
  apps/game/nuxt.d.ts
  apps/game/package.json
  apps/game/scripts/typecheck.sh
  apps/game/tsconfig.json
  apps/game/vitest.config.ts
  aws-deploy.sh
  packages/config/scripts/build-utils.ts
  packages/config/vite.config.ts
  pnpm-lock.yaml
  scripts/deploy-dev.sh
  scripts/deploy-prod.sh
Due: test, build, build:docs, pages

fix: unit tests
  apps/game/composables/useToast.ts
  apps/game/stores/game.ts
Due: test, build

fix: workflow issues
  apps/game/.localdev.json
  apps/game/LOCAL_DEVELOPMENT.md
  apps/game/components/FortuneWheel.vue
  apps/game/components/GlobalLoading.vue
  apps/game/components/PageTransition.vue
  apps/game/composables/useGameState.ts
  apps/game/composables/useLoading.ts
  apps/game/composables/useLogger.ts
  apps/game/composables/useNavigation.ts
  apps/game/composables/usePageSetup.ts
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
  apps/game/layouts/default.vue
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/game.vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/players.vue
  apps/game/playwright.config.ts
  apps/game/plugins/i18n-init.client.ts
  apps/game/stores/settings.ts
  apps/game/tests/utils/global-setup.ts
  apps/game/tests/utils/global-teardown.ts
  infrastructure/environments/production/main.tf
  middleware/game-active.global.ts
  scripts/add-dev-scripts.js
  scripts/clean-build.js
  scripts/fix-asset-paths.js
  scripts/test-asset-paths.js
  turbo.json
Due: test, build

fix: revert score delta logic and add deployment improvements
  .github/agents/frontend.agent.md
  .sonarlint/connectedMode.json
  .vscode/settings.json
  scripts/aws-deploy.sh
  scripts/deploy-dev.sh
  scripts/deploy-prod.sh
Due: none

fix: lint and typecheck
  apps/game/components/StoryboardDevOverlay.vue
  apps/game/composables/useErrorSync.ts
  apps/game/composables/useLogger.ts
  apps/game/composables/usePageSetup.ts
  apps/game/composables/useStoryboard.ts
  apps/game/eslint.config.mjs
  apps/game/nuxt.config.ts
  apps/game/pages/players.vue
  apps/game/plugins/error-sync.client.ts
  apps/game/plugins/i18n-init.client.ts
  apps/game/plugins/storyboard.client.ts
  apps/game/tests/utils/test-utils.ts
Due: test, build

fix: lint and typecheck
  apps/game/components/Base/Button.vue
  apps/game/components/Base/ImageButton.vue
  apps/game/components/Base/Modal.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/GlobalLoading.vue
  apps/game/components/PageTransition.vue
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
  apps/game/components/SettingsModal.vue
  apps/game/components/Spinner.vue
  apps/game/components/SplashScreen.vue
  apps/game/composables/useErrorSync.ts
  apps/game/composables/useForm.ts
  apps/game/composables/useLogger.ts
  apps/game/composables/useModal.ts
  apps/game/eslint.config.mjs
  apps/game/layouts/default.vue
  apps/game/layouts/game.vue
  apps/game/layouts/menu.vue
  apps/game/nuxt.config.ts
  apps/game/pages/credits.vue
  apps/game/pages/game.vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/results.vue
  apps/game/pages/round-start.vue
  apps/game/pages/settings.vue
  apps/game/tests/e2e/accessibility.spec.ts
  apps/game/tests/unit/game-store.spec.ts
Due: test, build

feature: stagewise junit.xml and devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  README.md
  apps/game/junit.xml
  apps/game/playwright.config.ts
  apps/game/stagewise.json
  apps/game/vitest.config.ts
  docs/nuxt.config.ts
  stagewise.json
Due: test, build, build:docs, pages

fix: memory leak in unit test
  .gitignore
Due: none

fix fetch unit test
  apps/docs/.turbo/turbo-typecheck.log
  apps/game/.turbo/turbo-test$colon$unit.log
  apps/game/stores/game.ts
  packages/shared/.turbo/turbo-typecheck.log
  packages/types/.turbo/turbo-typecheck.log
Due: test, build, build:docs, pages

fix game
  .gitignore
  apps/docs/.turbo/turbo-lint.log
  apps/game/.output/nitro.json
  apps/game/.output/public/_nuxt/B5AQurGQ.js
  apps/game/.output/public/_nuxt/BLXikApk.js
  apps/game/.output/public/_nuxt/BiNLhVNN.js
  apps/game/.output/public/_nuxt/BuQxMjsC.js
  apps/game/.output/public/_nuxt/Bz5eC1Vy.js
  apps/game/.output/public/_nuxt/C202RNzR.js
  apps/game/.output/public/_nuxt/CAiwMZCU.js
  apps/game/.output/public/_nuxt/CCGOAlkO.js
  apps/game/.output/public/_nuxt/CKyEuBo7.js
  apps/game/.output/public/_nuxt/COAuIF2k.js
  apps/game/.output/public/_nuxt/CUsp69BC.js
  apps/game/.output/public/_nuxt/Cewy8fxW.js
  apps/game/.output/public/_nuxt/DICJUZ7V.js
  apps/game/.output/public/_nuxt/DTTnYYDP.js
  apps/game/.output/public/_nuxt/DYecueaN.js
  apps/game/.output/public/_nuxt/Db9HFtHr.js
  apps/game/.output/public/_nuxt/Dbm-6dJw.js
  apps/game/.output/public/_nuxt/MiWQuCTc.js
  apps/game/.output/public/_nuxt/PvgC7O3f.js
  apps/game/.output/public/_nuxt/W1vp1P0I.js
  apps/game/.output/public/_nuxt/ZWM7LZrB.js
  apps/game/.output/public/_nuxt/builds/latest.json
  apps/game/.output/public/_nuxt/builds/meta/b8e9a931-3571-4838-8051-5c54c44439bd.json
  apps/game/.output/public/_nuxt/entry.DYJQ1Ei9.css
  apps/game/.output/public/_nuxt/ff6OxEIk.js
  apps/game/.output/public/_nuxt/xkxor9z7.js
  apps/game/.output/public/sw.js
  apps/game/.output/server/chunks/build/client.precomputed.mjs
  apps/game/.output/server/chunks/nitro/nitro.mjs
  apps/game/.turbo/turbo-lint.log
  apps/game/.turbo/turbo-test$colon$unit.log
  apps/game/app.vue
  apps/game/composables/useLoading.ts
  deployment-info.json
  packages/shared/.turbo/turbo-lint.log
  packages/types/.turbo/turbo-lint.log
Due: test, build, build:docs, pages

fixed game
  apps/game/.turbo/turbo-typecheck.log
  apps/game/app.vue
Due: test, build

Fix: Added Test
  .turbo/cookies/184.cookie
  .turbo/cookies/185.cookie
  .turbo/cookies/186.cookie
  .turbo/cookies/187.cookie
  .turbo/cookies/188.cookie
  .turbo/cookies/189.cookie
  .turbo/cookies/190.cookie
  .turbo/cookies/191.cookie
  .turbo/cookies/192.cookie
  .turbo/cookies/193.cookie
  .turbo/cookies/194.cookie
  .turbo/cookies/195.cookie
  .turbo/cookies/196.cookie
  .turbo/cookies/197.cookie
  .turbo/cookies/198.cookie
  .turbo/cookies/199.cookie
  .turbo/cookies/200.cookie
  apps/game/.output/nitro.json
  apps/game/.output/public/_nuxt/builds/latest.json
  apps/game/.output/public/sw.js
  apps/game/.output/server/chunks/build/client.precomputed.mjs
  apps/game/.output/server/chunks/nitro/nitro.mjs
  apps/game/.turbo/turbo-build.log
  apps/game/.turbo/turbo-test$colon$unit.log
  apps/game/components/FortuneWheel.vue
  apps/game/junit.xml
  apps/game/pages/leaderboard.vue
  apps/game/pages/players.vue
  apps/game/pages/round-start.vue
  apps/game/playwright.config.ts
  apps/game/stores/game.ts
  apps/game/tests/e2e/game-flow.spec.ts
  apps/game/tests/e2e/leaderboard.spec.ts
  apps/game/tests/e2e/multiplayer-flow.spec.ts
  apps/game/tests/unit/reactivity-improvements.spec.ts
Due: test, build

Fix: Mobile responsive layout and navigation improvements
  apps/game/app.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/SettingsModal.vue
  apps/game/composables/useNavigation.ts
  apps/game/composables/usePageSetup.ts
  apps/game/nuxt.config.ts
  apps/game/pages/game.vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/players.vue
  apps/game/pages/round-start.vue
  apps/game/pages/settings.vue
Due: test, build

fix: resolve TypeScript and lint errors in vitest workspace and app.vue
  apps/game/app.vue
  apps/game/vitest.workspace.ts
Due: test, build

Fixed cursor/vscode settings
  .cursor/mcp.json
  .cursor/mcp.json.example
  .vscode/settings.json
  apps/game/.output/nitro.json
  apps/game/.output/public/_nuxt/SettingsModal.9oOVxxkc.css
  apps/game/.output/public/_nuxt/builds/latest.json
  apps/game/.output/public/_nuxt/game.DeBiQnns.css
  apps/game/.output/public/_nuxt/index.sjGIkIYR.css
  apps/game/.output/public/_nuxt/language.BvUVFMjP.css
  apps/game/.output/public/_nuxt/settings.CNv5HtWA.css
  apps/game/.output/public/sw.js
  apps/game/.turbo/turbo-lint.log
  apps/game/.turbo/turbo-typecheck.log
  deployment-info.json
  package.json
  packages/config/.turbo/turbo-lint.log
  packages/config/.turbo/turbo-typecheck.log
  packages/config/dist/tsconfig.tsbuildinfo
  packages/config/vite.config.ts
  pnpm-workspace.yaml
Due: test, build

Fix: Pipeline, enable corepack to fix it
  .gitlab-ci.yml.backup
  apps/game/.turbo/turbo-typecheck.log
  packages/config/.turbo/turbo-typecheck.log
  packages/config/dist/tsconfig.tsbuildinfo
Due: test, build

Update: Updating turbo from 2.7.3 to 2.7.4
  .gitignore
  apps/docs/.turbo/turbo-build.log
  apps/docs/.turbo/turbo-lint.log
  apps/docs/.turbo/turbo-typecheck.log
  apps/game/.turbo/turbo-build.log
  apps/game/.turbo/turbo-generate.log
  apps/game/.turbo/turbo-lint.log
  apps/game/.turbo/turbo-test$colon$unit.log
  apps/game/.turbo/turbo-test.log
  apps/game/.turbo/turbo-typecheck.log
  apps/game/assets/scss/design-system.scss
  package.json
  packages/config/.turbo/turbo-lint.log
  pnpm-lock.yaml
Due: test, build, build:docs, pages

fix: resolve round-start spinner issue and improve error handling
  apps/game/composables/useIndexedDB.ts
  apps/game/pages/round-start.vue
  apps/game/tests/unit/game-store.spec.ts
Due: test, build

feat: integrate Faker for realistic test data generation
  apps/game/tests/unit/factories.spec.ts
  apps/game/tests/utils/factories.ts
Due: test, build

feat: add game ID routing support for session management
  packages/shared/src/routes.ts
Due: test, build

fix: resolve linting issues and syntax errors
  .gitignore
  apps/game/.env.example
  apps/game/components/GlobalLoading.vue
  apps/game/composables/useFeatureFlags.ts
  apps/game/composables/useForm.ts
  apps/game/composables/useModal.ts
  apps/game/composables/useNavigation.ts
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/game.vue
  apps/game/pages/results.vue
  apps/game/pages/round-start.vue
  apps/game/plugins/gitlab-feature-flags.client.ts
  apps/game/stores/game.ts
  apps/game/stores/settings.ts
  apps/game/tests/unit/factories.spec.ts
  apps/game/tests/unit/routes.spec.ts
  apps/game/tests/unit/settings-store.spec.ts
  apps/game/tests/unit/use-category-emoji.spec.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
  apps/game/tests/unit/use-form.spec.ts
  apps/game/tests/unit/use-loading.spec.ts
  apps/game/tests/unit/use-local-storage.spec.ts
  apps/game/tests/unit/use-modal.spec.ts
  apps/game/tests/unit/use-navigation.spec.ts
  apps/game/tests/utils/factories.ts
  apps/game/vitest.config.ts
  docs/GITLAB_FEATURE_FLAGS.md
  packages/config/.turbo/turbo-lint.log
  packages/config/dist/tsconfig.tsbuildinfo
  packages/config/vite.config.ts
  packages/shared/.turbo/turbo-lint.log
  packages/shared/.turbo/turbo-typecheck.log
  packages/shared/tsconfig.tsbuildinfo
  packages/types/.turbo/turbo-lint.log
  pnpm-lock.yaml
Due: test, build, build:docs, pages

feat: configure trunk integration for code quality and flaky tests
  apps/game/composables/useLoading.ts
  apps/game/composables/useModal.ts
  apps/game/playwright.config.ts
  apps/game/tests/unit/setup.ts
  apps/game/vitest.config.ts
  docs/DOCUMENTATION-GUIDELINES.md
  package.json
  packages/config/dist/tsconfig.tsbuildinfo
  trunk
Due: test, build, build:docs, pages

style: apply trunk formatting fixes
  .env
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/docs/.env
  apps/game/scripts/typecheck.sh
  apps/game/tests/unit/use-feature-flags.spec.ts
  eslint.config.mjs
  infrastructure/environments/production/find-resources.sh
  infrastructure/environments/production/import-existing.sh
  infrastructure/lambda/error-logs/index.js
  infrastructure/scripts/import-with-terraformer.sh
  infrastructure/scripts/setup-tfenv.sh
  scripts/agent-commands.sh
  scripts/aws-deploy.sh
  scripts/build-docker-image.sh
  scripts/check-dependencies.sh
  scripts/check-secrets.sh
  scripts/ci-e2e.sh
  scripts/deploy-dev.sh
  scripts/deploy-infrastructure.sh
  scripts/deploy-prod.sh
  scripts/deploy-staging.sh
  scripts/diagnose-typescript-issues.sh
  scripts/diagnose-vscode-issues.sh
  scripts/e2e-deployed.sh
  scripts/get-terraform-outputs.sh
  scripts/lib/deploy-common.sh
  scripts/migrate-env-variables.sh
  scripts/optimize-for-monorepo.sh
  scripts/run-tests-with-trunk.sh
  scripts/setup-aws-iam.sh
  scripts/sync-terraform-outputs.sh
  scripts/terraform-apply.sh
  scripts/terraform-plan.sh
  scripts/test-trunk-integration.sh
  services/GameService.ts
  services/StorageService.ts
Due: test, build, build:docs, pages

chore: configure trunk for less strict linting
  .markdownlint.json
  .trunk/trunk.yaml
Due: none

chore: add log files to gitignore
  .gitignore
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
