Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

test: update tests to reflect delta-based score calculation
  apps/game/tests/unit/game-store.spec.ts
  apps/game/tests/unit/reactivity-improvements.spec.ts
Due: test, build

test: fix flaky performance test timing threshold
  apps/game/tests/unit/use-performance.spec.ts
Due: test, build

chore: remove build artifact from git tracking
  packages/config/dist/tsconfig.tsbuildinfo
Due: test, build

feat: crewai implements
  .claude/settings.json
  .devcontainer/Dockerfile
  .gitignore
  package-lock.json
Due: none

feat: add skills for important orders
  .agents/skills/component-refactoring/SKILL.md
  .agents/skills/component-refactoring/references/complexity-patterns.md
  .agents/skills/component-refactoring/references/component-splitting.md
  .agents/skills/component-refactoring/references/hook-extraction.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/skill-creator/references/output-patterns.md
  .agents/skills/skill-creator/references/workflows.md
  .agents/skills/skill-creator/scripts/init_skill.py
  .agents/skills/skill-creator/scripts/package_skill.py
  .agents/skills/skill-creator/scripts/quick_validate.py
  .agents/skills/web-design-guidelines/SKILL.md
  .claude/settings.local.json
  .claude/skills/component-refactoring
  .claude/skills/skill-creator
  .claude/skills/web-design-guidelines
  .codex/skills/component-refactoring
  .codex/skills/skill-creator
  .codex/skills/web-design-guidelines
  .cursor/skills/component-refactoring
  .cursor/skills/skill-creator
  .cursor/skills/web-design-guidelines
  .github/skills/component-refactoring
  .github/skills/skill-creator
  .github/skills/web-design-guidelines
  .openhands/skills/component-refactoring
  .openhands/skills/skill-creator
  .openhands/skills/web-design-guidelines
  .zencoder/skills/component-refactoring
  .zencoder/skills/skill-creator
  .zencoder/skills/web-design-guidelines
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  tools/crew_ai_tool/.gitignore
  tools/crew_ai_tool/README.md
  tools/crew_ai_tool/pyproject.toml
  tools/crew_ai_tool/src/crew_ai_tool/__init__.py
  tools/crew_ai_tool/src/crew_ai_tool/tool.py
Due: test, build

chore(mcp): add browsermcp and nuxt toolkit servers
  .cursor/mcp.json
  .cursor/mcp.json.example
  .mcp.json
  fastmcp.json
Due: none

docs(agents): document new mcp servers
  docs/development/TOOLS-AND-AGENTS.md
  docs/setup/AGENT-SETUP.md
Due: build:docs, pages

chore(mcp): align agent mcp configs
  .cursor/mcp.json
  .cursor/mcp.json.example
  .mcp.json
  fastmcp.json
Due: none

docs(agents): align mcp config references
  docs/development/TOOLS-AND-AGENTS.md
  tools/python/README.md
Due: build:docs, pages

chore(deps): add mcp toolkit and voltagent packages
  apps/game/package.json
  package.json
  pnpm-lock.yaml
Due: test, build

feat(game): add nuxt mcp toolkit integration
  apps/game/nuxt.config.ts
  apps/game/server/mcp/tools/game-status.ts
Due: test, build

feat(mcp): switch subagents to voltagent server
  .cursor/mcp.json
  .cursor/mcp.json.example
  .mcp.json
  docs/development/TOOLS-AND-AGENTS.md
  fastmcp.json
  tools/python/README.md
  tools/voltagent/README.md
  tools/voltagent/mcp-server.mjs
Due: build:docs, pages

docs: add agent TODOs
  TODO.md
Due: none

fix(game): prevent round counter from incrementing on page refresh
  apps/game/pages/round-start.vue
  apps/game/tests/e2e/round-start.spec.ts
  apps/game/tests/unit/game-store.spec.ts
Due: test, build

refactor(game): restructure routing with optional gameId parameter
  .claude/settings.json
  .claude/settings.local.json
  apps/game/package.json
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/playwright.config.ts
  apps/game/tests/e2e/players.spec.ts
Due: test, build

fix: started to fix dev deployment
  .claude/settings.local.json
  .opencode/opencode.db
  .opencode/opencode.db-shm
  .opencode/opencode.db-wal
  .playwright-mcp/page-2026-01-24T00-37-12-082Z.png
  .playwright-mcp/page-2026-01-28T15-40-58-094Z.png
  .playwright-mcp/page-2026-01-28T15-46-47-386Z.png
  .playwright-mcp/page-2026-01-29T14-21-03-343Z.png
  .vscode/settings.json
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  infrastructure/modules/cloudfront-enhanced/main.tf
  infrastructure/modules/cloudfront/main.tf
  junit.xml
  scripts/aws-deploy.sh
Due: test, build

fix: filter problematic i18n SSR plugins and remove MCP toolkit
  .trunk/plugins/trunk
  apps/game/.vite/stats.html
  apps/game/composables/useI18n.ts
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/server/mcp/tools/game-status.ts
  apps/game/utils/filter-ssr-plugins.ts
  apps/game/utils/sessionValidationDemo.ts
  pnpm-lock.yaml
Due: test, build

fix: unit tests
  .claude/settings.local.json
  apps/game/tests/unit/use-performance.spec.ts
  pnpm-lock.yaml
Due: test, build

feat: added vercel.json, for easy deployments
  .gitignore
  vercel.json
Due: none

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

feat: playwright in docker
  .claude/settings.local.json
  .github/agents/playwright-test-generator.agent.md
  .github/agents/playwright-test-healer.agent.md
  .github/agents/playwright-test-planner.agent.md
  .github/workflows/copilot-setup-steps.yml
  .vscode/extensions.json
  .vscode/mcp.json
  apps/game/playwright.config.ts
  infrastructure/environments/development/route53.tf
  junit.xml
  package.json
  scripts/e2e-docker.sh
  scripts/playwright-docker.sh
  specs/README.md
Due: test, build

Initialize task: Set up project config
  .zenflow/tasks/set-up-project-config-63fd/plan.md
Due: none

Implementation
  .zenflow/settings.json
  .zenflow/tasks/set-up-project-config-63fd/plan.md
Due: none

Implementation
  .cursor/worktrees.json
  .cursorrules
  AGENTS.md
  CLAUDE.md
Due: build:docs, pages

fix: remove docs ..
  .claude/settings.local.json
  .cursor/environment.json
  .vscode/settings.json
  apps/docs/.data/content/contents.sqlite
  apps/docs/app.vue
  apps/docs/content.config.ts
  apps/docs/content/architecture/overview.md
  apps/docs/content/architecture/state-management.md
  apps/docs/content/architecture/structure.md
  apps/docs/content/design/color-palette.md
  apps/docs/content/design/overview.md
  apps/docs/content/development/getting-started.md
  apps/docs/content/infrastructure/overview.md
  apps/docs/content/infrastructure/terraform.md
  apps/docs/content/intro.md
  apps/docs/nuxt.config.ts
  apps/docs/package.json
  apps/docs/pages/[...slug].vue
  apps/docs/pages/index.vue
  apps/docs/tsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: test, build, build:docs, pages

chore: cleanup
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build

feat: loading infra from env for new setupped PCs
  .claude/settings.local.json
  .vscode/riddle-rush-mono-repo.code-workspace
  apps/game/.vite/stats.html
  apps/game/README.md
  apps/game/docs/fixes/PLUGIN-INITIALIZATION-FIX.md
  apps/game/nuxt.config.ts
  apps/game/plugins/i18n.client.ts
  infrastructure/README.md
  scripts/load-infra-env.sh
Due: test, build

fix: broken images
  apps/game/nuxt.config.ts
  apps/game/pages/game/[[gameId]].vue
Due: test, build

fix: Remove back button, the modals always have a an abort button, which makes the back-btn there useless
  apps/game/.vscode/settings.json
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
  riddle-rush-mono-repo.code-workspace
Due: test, build

fix: design adjustments, removed hover from workflow
  apps/game/assets/scss/design-system.scss
  apps/game/components/Base/Button.vue
  apps/game/components/Base/ImageButton.vue
  apps/game/components/Base/Modal.vue
  apps/game/components/DebugPanel.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/Leaderboard.vue
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
  apps/game/components/StoryboardDevOverlay.vue
  apps/game/components/Toast.vue
  apps/game/layouts/default.vue
  apps/game/nuxt.config.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/settings.vue
  apps/game/pages/websocket-demo.vue
  docs/WORKFLOW.md
Due: test, build, build:docs, pages

docs: initialize project
  .planning/PROJECT.md
Due: none
