Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

fix: remove non-existent score-display testid references
  apps/game/tests/e2e/full-game-workflow.spec.ts
Due: test, build

refactor: remove legacy getters and unused action from game store
  apps/game/.vite/stats.html
  apps/game/components/DebugPanel.vue
  apps/game/components/game/GameDisplay.vue
  apps/game/composables/useGameActions.ts
  apps/game/stores/game.ts
  apps/game/tests/e2e/helpers/assets.ts
  apps/game/tests/e2e/helpers/diagnostics.ts
  apps/game/tests/e2e/helpers/index.ts
  apps/game/tests/e2e/helpers/mobile.ts
  apps/game/tests/e2e/helpers/waits.ts
  apps/game/tests/unit/composables/useGameActions.spec.ts
  apps/game/tests/unit/game-store.spec.ts
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build

docs: archive outdated MCP and VIBE documentation
  AGENTS.md
  archive/old-docs/VIBE-INTEGRATION-FIXED.md
  docs/DEPLOYMENT-COMPLETE.md
  docs/DEPLOYMENT-STATUS.md
  docs/INDEX.md
  docs/REFACTORING-IMPROVEMENTS.md
  docs/Ratefix App.pdf
Due: build:docs, pages

docs: add deployment preparation checklist
  DEPLOYMENT-CHECKLIST.md
Due: none

docs: add project completion summary
  COMPLETION-SUMMARY.md
Due: none

docs: add test issues documentation
  docs/TEST-ISSUES.md
Due: build:docs, pages

chore: resolve merge leftovers and align CI/PWA updates
  .circleci/config.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy.yml
  .github/workflows/opencode.yml
  .trae/skills/ci-event-hygiene/SKILL.md
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/plugins/pwa-cache-version.client.ts
  apps/game/tests/e2e/translations-check.spec.ts
Due: test, build

fix: unit tests for CI (AudioContext, Image mock, vue-router mock)
  apps/game/composables/useAssets.ts
  apps/game/composables/useAudio.ts
  apps/game/composables/useGameActions.ts
  apps/game/tests/unit/composables/useGameActions.spec.ts
Due: test, build

fix: remove incorrect app.unmount() in test setup to silence Vue warning
  apps/game/tests/unit/setup.ts
Due: test, build

fix: add NODE_OPTIONS='--no-experimental-webstorage' to vitest scripts to silence Node 25 warning
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  apps/game/package.json
Due: test, build

docs(13): research phase domain
  .planning/phases/13-visual-polish-animations-bug-fixes/13-RESEARCH.md
Due: none

docs(13): create phase plan
  .planning/ROADMAP.md
  .planning/phases/13-visual-polish-animations-bug-fixes/13-01-PLAN.md
  .planning/phases/13-visual-polish-animations-bug-fixes/13-02-PLAN.md
  .planning/phases/13-visual-polish-animations-bug-fixes/13-03-PLAN.md
  .planning/phases/13-visual-polish-animations-bug-fixes/13-04-PLAN.md
Due: none

feat: update splash screen to use Figma assets
  apps/game/pages/splash.vue
Due: test, build

feat: update main menu to use Figma assets
  apps/game/pages/index.vue
Due: test, build

feat: update game screen to use Figma assets
  apps/game/pages/game/[[gameId]].vue
Due: test, build

feat: update scoring screen to use Figma assets
  apps/game/pages/results/[[gameId]].vue
Due: test, build

feat: update players screen to use Figma assets
  apps/game/pages/players.vue
Due: test, build

feat: update leaderboard screen to use Figma assets
  apps/game/pages/leaderboard.vue
Due: test, build

feat: update language screen to use Figma assets
  apps/game/pages/language.vue
Due: test, build

feat: update modals to use Figma assets
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
Due: test, build

feat: fix leaderboard image paths and rank display
  apps/game/pages/leaderboard.vue
Due: test, build

feat: create initial style kit from Figma design
  apps/game/assets/scss/design-system.scss
  apps/game/components/game/GameHeader.vue
Due: test, build

test: fix failing unit tests for useAssets, useGameActions, useAudio
  .vscode/extensions.json
  apps/game/tests/unit/composables/useAudio.spec.ts
  apps/game/tests/unit/composables/useGameActions.spec.ts
  apps/game/tests/unit/use-assets.spec.ts
Due: test, build

fix: terraform adjustments and added circleci
  .circleci/config.yml
  .gitlab-ci.yml
  .grok/settings.json
  .kiro/hooks/figma-code-connect.kiro.hook
  .kiro/steering/design-system.md
  .python-version
  apps/game/.vscode/extensions.json
  infrastructure/.vscode/extensions.json
  infrastructure/environments/production/import-existing.sh
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/outputs.tf
  pyproject-old.toml
  riddle-rush-mono-repo.code-workspace
  tools/.vscode/extensions.json
  uv.lock
Due: test, build

feat(ci-cd): implement comprehensive CI/CD pipeline with quality gates, testing, deployment, and optimization
  .github/CI_QUICK_START.md
  .github/CI_SETUP.md
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/optimized-ci-cd.yml
  CI_CD_IMPLEMENTATION_SUMMARY.md
Due: none

feat(13-01): update post-round decision prompt
  apps/game/pages/results/[[gameId]].vue
Due: test, build

feat(13-01): align decision modal copy and testid - Update data-testid for leaderboard button to for clarity. - Verified that modal is non-dismissible and prompt text is correct as per plan.
  apps/game/pages/results/[[gameId]].vue
Due: test, build

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
