Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

test: remove BDD tests and configure E2E tests
  apps/game/.vite/stats.html
  apps/game/app.vue
  apps/game/package.json
  apps/game/playwright-bdd.config.ts
  apps/game/playwright.config.ts
  apps/game/tests/e2e/credits.spec.ts
  apps/game/tests/features/credits.feature
  apps/game/tests/features/game-flow.feature
  apps/game/tests/steps/common.steps.ts
  junit.xml
  pnpm-lock.yaml
Due: test, build

fix: gitlab pipeline
  .gitignore
  .gitlab-ci.yml
  .python-version
  .trunk/actions
  .trunk/logs
  .trunk/notifications
  .trunk/tools
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  docs/setup/AWS-IAM-SETUP.md
  fastmcp.json
  infrastructure/IAM-CREATION-SUMMARY.md
  infrastructure/IAM-IMPLEMENTATION-SUMMARY.md
  infrastructure/IAM-QUICK-START.md
  infrastructure/IAM-SETUP.md
  infrastructure/cloudwatch-api.tf
  infrastructure/environments/development/main.tf
  infrastructure/environments/development/tfplan
  infrastructure/environments/production/main.tf
  infrastructure/iam.tf
  infrastructure/outputs.tf
  infrastructure/scripts/create-admin-invite.sh
  infrastructure/terraform.tfvars.example
  infrastructure/variables.tf
  junit.xml
  main.py
  mcpserver.py
  pyproject.toml
  scripts/assume-aws-role.sh
  scripts/check-secrets.sh
  scripts/ci-e2e.sh
  scripts/create-iam-roles.sh
  scripts/e2e-local.sh
  scripts/setup-aws-credentials.sh
  uv.lock
Due: test, build, build:docs, pages

fix(ci): skip dependency installation in sonarcloud-check job
  .gitlab-ci.yml
  apps/game/server/plugins/socket.ts
Due: test, build

fix(ci): resolve SonarCloud job dependency on Node.js tools
  .gitlab-ci.yml
  pnpm-lock.yaml
Due: test, build

feat(infrastructure): add Route53 hosted zone for riddlerush.de
  infrastructure/ROUTE53-IMPORT-GUIDE.md
  infrastructure/outputs.tf
  infrastructure/route53.tf
Due: none

feat: added python tools and added langchain tools
  apps/game/.vite/stats.html
  infrastructure/environments/development/tfplan
  infrastructure/iam.tf
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
  scripts/ci-test.sh
  tools/langchain/package.json
  tools/langchain/riddle-rush-mono-repo.code-workspace
  uv.lock
Due: test, build

feat: add Python linting with Trunk integration
  .trunk/trunk.yaml
  package.json
  pyproject.toml
  scripts/python-format.sh
  scripts/python-lint.sh
Due: test, build

fix: correct malformed variable references in terraform-apply.sh
  scripts/terraform-apply.sh
Due: none

chore: add prettier, eslint, and jest to root workspace
  package.json
  pnpm-lock.yaml
Due: test, build

feat: configure FastMCP subagents server and Python tooling
  .cursor/mcp.json
  .gitignore
  tools/python/.python-version
  tools/python/.python-version.local.example
  tools/python/README.md
  tools/python/main.py
  tools/python/pyproject.toml
  tools/python/run-mcp-server.sh
  tools/python/uv.lock
Due: none

fix: update langchain test configuration
  tools/langchain/package.json
Due: none

fix: remove duplicate package.json keys and handle missing tests
  package.json
  tools/langchain/package.json
Due: test, build

fix: resolve linting issues
  apps/docs/pages/index.vue
Due: build:docs, pages

feat: deployment dev
  .eslintignore
  .mcp.json
  AGENTS.md
  CLAUDE.md
  docs/MONOREPO-CI-OPTIMIZATION.md
  docs/MONOREPO-ENHANCEMENTS.md
  docs/archive/IMPLEMENTATION-SUMMARY.md
  docs/development/TOOLS-AND-AGENTS.md
  eslint.config.mjs
  infrastructure/environments/development/development-enhanced/main.tf
  infrastructure/environments/development/main.tf
  infrastructure/environments/development/route53.tf
  infrastructure/environments/development/tfplan
  infrastructure/environments/development/variables.tf
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/route53.tf
  infrastructure/environments/production/variables.tf
  infrastructure/modules/blue-green-deployment/main.tf
  infrastructure/modules/blue-green-deployment/variables.tf
  infrastructure/modules/cloudfront-enhanced/main.tf
  packages/riddle-cli/README.md
  packages/riddle-cli/bin/run.js
  packages/riddle-cli/package.json
  packages/riddle-cli/src/commands/agent/fix.ts
  packages/riddle-cli/src/commands/agent/status.ts
  packages/riddle-cli/src/commands/agent/validate.ts
  packages/riddle-cli/src/commands/stats.ts
  packages/riddle-cli/src/index.ts
  packages/riddle-cli/tsconfig.json
  pnpm-workspace.yaml
  riddle-rush-mono-repo.code-workspace
  tools/README.md
Due: test, build, build:docs, pages

fix:more cli fixes and dependencies
  packages/riddle-cli/bin/run.js
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: test, build

fix(test): add pool forks config to resolve --localstorage-file warning
  apps/game/vitest.config.ts
  apps/game/vitest.workspace.ts
Due: test, build

fix: configure production deployment for riddlerush.de
  infrastructure/environments/production/main.tf
  infrastructure/modules/cloudfront-enhanced/main.tf
  scripts/deploy-prod.sh
Due: none

chore: add tools/e2b to gitignore
  .gitignore
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
