Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

test(13-01): update E2E tests for decision modal
  apps/game/tests/e2e/scoring-flow.spec.ts
  apps/game/tests/e2e/scoring-multi-round.spec.ts
  apps/game/tests/e2e/scoring-ui.spec.ts
  apps/game/tests/e2e/scoring-workflow.spec.ts
  apps/game/translations/locales/en.json
Due: test, build

docs(13-01): document confirmed post-round modal design
  .planning/phases/13-post-round-next-step-modal/13-01-CONFIRMED-MODAL-DESIGN.md
Due: none

docs(13-01): complete plan for post-round modal design
  .planning/STATE.md
  .planning/phases/13-post-round-next-step-modal/13-01-SUMMARY.md
Due: none

fix(game): correct useHead call in gtag plugin
  apps/game/plugins/gtag.client.ts
Due: test, build

chore: also ignore .claude/agents/ in .gitignore
  .gitignore
Due: none

feat: docker adjustment
  .idea/gbrowsers.xml
  .trunk/trunk.yaml
  .vscode/extensions.json
  docker-compose.yml
  package.json
Due: test, build

chore: update all dependencies across monorepo
  apps/game/package.json
  apps/mobile/package.json
  package.json
  packages/config/package.json
  packages/riddle-cli/package.json
  packages/shared/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: test, build

ci: add GitHub Actions workflow for dev deployment to Vercel
  .github/workflows/deploy-dev.yml
Due: none

refactor: rewrite deploy-dev.sh to use Vercel instead of AWS
  scripts/deploy-dev.sh
Due: none

fix: add @intlify/core-base as explicit dependency for Vercel build
  apps/game/package.json
  pnpm-lock.yaml
Due: test, build

revert: restore deploy-dev.sh to AWS deployment
  scripts/deploy-dev.sh
Due: none

ci: add Trunk Check to GitHub Actions quality checks
  .github/workflows/deploy-dev.yml
Due: none

chore: trunk config update + pnpm workspace
  .roomodes
  .trunk/trunk.yaml
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  pnpm-workspace.yaml
Due: test, build

fix(test): use real Vue computed/reactive in useGameState tests
  apps/game/tests/unit/composables/useGameState.spec.ts
Due: test, build

fix(game): add placeholder PNGs and restore TS-fixed Vue files
  apps/game/assets/figma/1-1.png
  apps/game/assets/figma/add-back-9.png
  apps/game/assets/figma/eng-flag-1.png
  apps/game/assets/figma/german-flag-1.png
  apps/game/assets/figma/language-1.png
  apps/game/assets/figma/language-button-1.png
  apps/game/assets/figma/language-button-2.png
  apps/game/assets/figma/mark-1.png
  apps/game/assets/figma/ok-1.png
  apps/game/assets/figma/quit-game-1.png
  apps/game/assets/figma/start-1.png
  apps/game/components/DebugPanel.vue
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
  apps/game/components/game/GameHeader.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/splash.vue
Due: test, build

fix(game): resolve TypeScript errors in Vue files after merge
  apps/game/components/ConnectionStatus.vue
  apps/game/components/FortuneWheel.vue
  apps/game/components/GameHistory.vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/round-start.vue
  apps/game/pages/websocket-demo.vue
Due: test, build

docs: capture todo - Research and select feature flag solution
  .planning/todos/pending/2026-03-02-research-and-select-feature-flag-solution.md
Due: none

fix: Fixed generate command and CSS warnings
  .aiignore
  apps/game/assets/scss/effects/_scaling.scss
  apps/game/package.json
Due: test, build

docs: capture todo - Test and fix full game workflow with multi-round scoring
  .planning/STATE.md
  .planning/todos/pending/2026-03-02-test-and-fix-full-game-workflow-with-multi-round-scoring.md
Due: none

docs: capture todo - Show base points in scoring view
  .planning/todos/pending/2026-03-02-show-base-points-in-scoring-view.md
Due: none

docs: capture todo - Refactor game mode to single source of truth with documented state flow
  .planning/STATE.md
  .planning/todos/pending/2026-03-02-refactor-game-mode-to-single-source-of-truth-with-documented-state-flow.md
Due: none

feat(game): add feature flag, 3-option modal, base points and predicted rank
  apps/game/composables/useFeatureFlags.ts
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

docs: add game state flow diagram and data ownership documentation
  docs/GAME-STATE-FLOW.md
Due: build:docs, pages

test:e2e started to implement
  .openfeature.yaml
  apps/game/tests/unit/projected-ranks.spec.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
  flags.json
  openspec/changes/game-improvements/.openspec.yaml
  openspec/changes/game-improvements/design.md
  openspec/changes/game-improvements/proposal.md
  pnpm-lock.yaml
Due: test, build

chore: update after branch changes ingested
  apps/game/i18n.config.ts
  apps/game/scripts/typecheck.sh
  apps/game/translations/i18n/locales/de.json
  apps/game/translations/i18n/locales/en.json
Due: test, build

chore: updated npm packages
  apps/game/package.json
  package.json
  pnpm-lock.yaml
  tools/langchain/package.json
Due: test, build

feat(quick-005): create cross-browser UUID v4 utility
  .idea/vcs.xml
  apps/game/utils/uuid.ts
  debug-500-main-menu.png
Due: test, build

fix(quick-005): replace all crypto.randomUUID() with generateUUID()
  apps/game/composables/usePlayerManager.ts
  apps/game/composables/useSessionManager.ts
  services/GameService.ts
Due: test, build

docs(quick-005): complete fix crypto.randomUUID plan
  .planning/STATE.md
  .planning/quick/005-fix-crypto-randomuuid-not-a-function-err/005-SUMMARY.md
Due: none

docs(quick-005): complete quick task - fix crypto.randomUUID Safari error
  .planning/STATE.md
  .planning/quick/005-fix-crypto-randomuuid-not-a-function-err/005-PLAN.md
Due: none

feat(game): hide answer display on results pages when feature flag disabled
  apps/game/components/game/GamePlayerCard.vue
  apps/game/pages/results.vue
  apps/game/pages/results/[[gameId]].vue
Due: test, build

docs(quick-006): complete hide answer display when feature flag disabled
  .planning/STATE.md
  .planning/quick/006-hide-answer-input-and-related-ui-when-fe/006-PLAN.md
  .planning/quick/006-hide-answer-input-and-related-ui-when-fe/006-SUMMARY.md
Due: none

test(phase-13): add unit and E2E tests from add-tests command
  apps/game/tests/e2e/full-game-workflow.spec.ts
  apps/game/tests/e2e/game-complete-flow.spec.ts
  apps/game/tests/e2e/scoring-flow.spec.ts
Due: test, build

feat: added more langauge texts
  .planning/config.json
  .trunk/plugins/trunk
  .trunk/trunk.yaml
  apps/game/assets/scss/effects/_scaling.scss
  apps/game/components/ConnectionStatus.vue
  apps/game/components/SettingsModal.vue
  apps/game/components/Toast.vue
  apps/game/composables/useWebSocket.ts
  apps/game/pages/credits.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/language.vue
  apps/game/pages/results.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/round-start.vue
  apps/game/tests/e2e/full-game-workflow.spec.ts
  apps/game/tests/e2e/game-complete-flow.spec.ts
  apps/game/tests/e2e/scoring-flow.spec.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
  junit.xml
Due: test, build

fix: issues for build
  junit.xml
Due: none

feat: gsd update
  .claude/settings.local.json
  .trunk/trunk.yaml
  junit.xml
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
