Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

chore(17-01): remove AI tool config directories from git tracking
  .gitignore
Due: none

docs(17-03): update claude guide to current repo state
  CLAUDE.md
Due: build:docs, pages

docs(17-03): refresh readme and remove stale docs pages
  README.md
  docs/nuxt.config.ts
  docs/pages/[...slug].vue
Due: build:docs, pages

docs(17-03): complete documentation alignment plan
  .planning/STATE.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-03-SUMMARY.md
Due: none

fix(17-01): complete stale root file untracking safeguards
  .gitignore
Due: none

fix(17-01): enforce ai config ignore boundaries
  .gitignore
Due: none

docs(17-01): complete repository tracking cleanup plan
  .planning/STATE.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-01-SUMMARY.md
Due: none

fix(ci): track nuxt terraform config for typecheck
  .gitignore
  nuxt.config.terraform.ts
Due: none

docs(18): create phase plan
  .planning/ROADMAP.md
  .planning/phases/18-enable-fortune-wheel-as-default-review-refactor-if-implementation-works-and-looks-good/18-01-PLAN.md
  .planning/phases/18-enable-fortune-wheel-as-default-review-refactor-if-implementation-works-and-looks-good/18-02-PLAN.md
Due: none

feat(18-01): default fortune wheel on for local fallback
  apps/game/composables/useFeatureFlags.ts
  apps/game/stores/settings.ts
Due: test, build

test(18-01): align feature-flag tests with default-on fallback
  apps/game/tests/unit/settings-store.spec.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
Due: test, build

docs(18-01): complete fortune wheel default fallback plan
  .planning/STATE.md
  .planning/phases/18-enable-fortune-wheel-as-default-review-refactor-if-implementation-works-and-looks-good/18-01-SUMMARY.md
Due: none

test(18-02): harden round-start default wheel e2e assertions
  apps/game/tests/e2e/round-start.spec.ts
Due: test, build

docs(18-02): codify fortune wheel round-start default contract
  .planning/STATE.md
  docs/GAME-STATE-FLOW.md
Due: build:docs, pages

chore: initial state for test refactoring
  .planning/phases/17-repo-cleanup-docs-optimization/17-02-SUMMARY.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-repo-cleanup-docs-optimization-VERIFICATION.md
  .planning/phases/18-enable-fortune-wheel-as-default-review-refactor-if-implementation-works-and-looks-good/18-RESEARCH.md
  apps/game/.claude/settings.local.json
Due: test, build

chore: unit test update
  apps/game/tests/unit/setup.ts
  apps/game/tests/utils/test-utils.ts
Due: test, build

chore: refactor code
  .planning/STATE.md
  .trunk/plugins/trunk
  .trunk/trunk.yaml
  apps/game/assets/scss/design-system.scss
  apps/game/pages/credits.vue
  riddle-rush-mono-repo.code-workspace
Due: test, build

docs(19): capture phase context
  .planning/phases/19-move-from-pinia-to-zustand/19-CONTEXT.md
Due: none

docs(state): record phase 19 context session
  .planning/STATE.md
Due: none

docs(19): research phase domain - Pinia to Zustand migration
  .planning/phases/19-move-from-pinia-to-zustand/19-RESEARCH.md
Due: none

docs(phase-19): add research and validation strategy
  .planning/phases/19-move-from-pinia-to-zustand/19-VALIDATION.md
Due: none

docs(19): create phase plan for Pinia-to-Zustand migration
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/19-move-from-pinia-to-zustand/19-01-PLAN.md
  .planning/phases/19-move-from-pinia-to-zustand/19-02-PLAN.md
  .planning/phases/19-move-from-pinia-to-zustand/19-03-PLAN.md
Due: none

feat(19-01): move raw Zustand stores to stores/ root and create migration utility
  apps/game/stores/gameStore.ts
  apps/game/stores/index.ts
  apps/game/stores/loadingStore.ts
  apps/game/stores/migrate.ts
  apps/game/stores/settingsStore.ts
  apps/game/stores/zustand/gameStore.ts
  apps/game/stores/zustand/vueGameStore.ts
  apps/game/stores/zustand/vueSettingsStore.ts
Due: test, build

feat(19-01): create focused Vue wrapper hooks with subscribe+version reactivity
  apps/game/stores/hooks/index.ts
  apps/game/stores/hooks/useCategories.ts
  apps/game/stores/hooks/useGameSession.ts
  apps/game/stores/hooks/useInstallPrompt.ts
  apps/game/stores/hooks/useLoading.ts
  apps/game/stores/hooks/usePlayerActions.ts
  apps/game/stores/hooks/useSettings.ts
Due: test, build

docs(19-01): complete Zustand store foundation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/19-move-from-pinia-to-zustand/19-01-SUMMARY.md
Due: none

fix(19-01): use import.meta.client instead of process.client in zustand plugin
  apps/game/plugins/zustand.ts
Due: test, build

feat(19): migrate settings and loading stores from Pinia to Zustand
  .planning/STATE.md
  .planning/phases/19-move-from-pinia-to-zustand/.gitkeep
  apps/game/app.vue
  apps/game/components/DebugPanel.vue
  apps/game/components/PauseModal.vue
  apps/game/components/QuitModal.vue
  apps/game/components/SettingsModal.vue
  apps/game/composables/useFeatureFlags.ts
  apps/game/composables/useGameActions.ts
  apps/game/composables/useGameState.ts
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/round-start.vue
  apps/game/pages/settings.vue
  apps/game/plugins/i18n.client.ts
  apps/game/stores/hooks/useGameSession.ts
  apps/game/stores/hooks/useSettings.ts
  apps/game/stores/zustand/index.ts
  apps/game/stores/zustand/loadingStore.ts
  apps/game/stores/zustand/settingsStore.ts
  apps/game/tests/unit/composables/useGameState.spec.ts
  pnpm-lock.yaml
Due: test, build

fix(19): update useGameActions tests for Zustand hook interfaces
  apps/game/tests/unit/composables/useGameActions.spec.ts
Due: test, build

feat(infrastructure): add Bitwarden secrets support for production
  infrastructure/README.md
  infrastructure/environments/production/bitwarden-example.tf
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/terraform.tfvars.example
  infrastructure/environments/production/variables.tf
Due: none

docs(14): research maintenance and quality of life phase
  .planning/phases/14-maintenance-quality-of-life/14-RESEARCH.md
Due: none

docs(14): add validation strategy
  .planning/phases/14-maintenance-quality-of-life/14-VALIDATION.md
Due: none

docs(14-maintenance-quality-of-life): create phase plan
  .planning/ROADMAP.md
  .planning/phases/14-maintenance-quality-of-life/14-01-PLAN.md
  .planning/phases/14-maintenance-quality-of-life/14-02-PLAN.md
  .planning/phases/14-maintenance-quality-of-life/14-03-PLAN.md
Due: none

fix(14): revise plans based on checker feedback
  .planning/phases/14-maintenance-quality-of-life/14-02-PLAN.md
  .planning/phases/14-maintenance-quality-of-life/14-03-PLAN.md
  .planning/phases/14-maintenance-quality-of-life/14-VALIDATION.md
Due: none

fix(14-02): fix deploy-dev.yml quality gate, caching, and Trunk removal
  .github/workflows/deploy-dev.yml
  scripts/check-secrets.sh
Due: none

fix(14-03): remove dead ViteBundleManifest import and no-op build:manifest hook
  .github/workflows/comprehensive-ci-cd.yml
  apps/game/nuxt.config.ts
Due: test, build

fix(14-01): merge duplicate JSON sections and add missing i18n keys in de.json
  apps/game/translations/locales/de.json
Due: test, build

docs(14-02): complete CI/CD pipeline fix plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/14-maintenance-quality-of-life/14-02-SUMMARY.md
Due: none

fix(14-01): update en.json and replace hardcoded strings with i18n t() calls
  apps/game/pages/credits.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/round-start.vue
  apps/game/pages/splash.vue
  apps/game/translations/locales/en.json
Due: test, build

docs(14-03): complete bug fixes and store assessment plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/14-maintenance-quality-of-life/14-03-SUMMARY.md
Due: none
