Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

feat: added 1 more de ddeployment
  .planning/STATE.md
Due: none

chore: bump version to 1.2.0
  package-lock.json
  package.json
Due: test, build

feat(quick-007): add currentPlayerIndex to GameSession for deterministic player turn tracking
  apps/game/composables/usePlayerManager.ts
  apps/game/composables/useSessionManager.ts
  apps/game/stores/game.ts
  apps/game/tests/unit/composables/useIndexedDB.spec.ts
  apps/game/tests/unit/composables/useStatistics.spec.ts
  apps/game/tests/unit/current-player-index.spec.ts
  apps/game/tests/utils/factories.ts
  apps/game/utils/sessionValidationDemo.ts
  packages/types/src/game.ts
Due: test, build

docs(quick-007): complete fix page reload causing wrong player selection
  .planning/STATE.md
  .planning/quick/7-fix-page-reload-on-game-start-causing-wr/7-SUMMARY.md
Due: none

docs(quick-007): Fix page reload on game start causing wrong player selection
  .planning/quick/7-fix-page-reload-on-game-start-causing-wr/7-PLAN.md
Due: none

docs(quick-008): create plan for i18n and score display bug fixes
  .planning/quick/8-fix-i18n-and-score-display-bugs/8-PLAN.md
Due: none

fix: improve scoring context and answer input flag
  apps/game/composables/useFeatureFlags.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/results/[[gameId]].vue
Due: test, build

fix(game): refine feature flag fallback flow
  apps/game/composables/useFeatureFlags.ts
  apps/game/plugins/gitlab-feature-flags.client.ts
Due: test, build

fix(game): replace hardcoded English with i18n keys and fix score reactivity
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/settings.vue
Due: test, build

docs(quick-008): complete i18n and score display bug fixes
  .planning/STATE.md
  .planning/quick/8-fix-i18n-and-score-display-bugs/8-SUMMARY.md
Due: none

fix(i18n): remove duplicate common keys in translation files and consolidate useRouter
  apps/game/pages/settings.vue
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

fix(game): fix completeGame history, isConfirming reset, and i18n interpolation
  .planning/todos/pending/code-review-2026-03-08.md
  apps/game/composables/useGameActions.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/stores/game.ts
Due: test, build

refactor(game): remove dead useScoringEngine import and redundant useNavigation call
  apps/game/pages/game/[[gameId]].vue
  apps/game/stores/game.ts
Due: test, build

fix(game): address high-priority code review findings #4, #6, #7, #8
  apps/game/app.vue
  apps/game/composables/useErrorSync.ts
  apps/game/composables/useFeatureFlags.ts
  apps/game/composables/usePerformance.ts
  apps/game/composables/useWebSocket.ts
  apps/game/pages/round-start.vue
Due: test, build

chore: update planning.md
  .planning/STATE.md
Due: none

fix(build): add @intlify to public-hoist-pattern for Vercel deployment
  .npmrc
Due: none

fix(game): make feature flags reactive and add answer-input local toggle
  apps/game/composables/useFeatureFlags.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/plugins/gitlab-feature-flags.client.ts
  apps/game/stores/settings.ts
  apps/game/tests/unit/settings-store.spec.ts
Due: test, build

fix(game): address code review findings for feature flags
  apps/game/composables/useFeatureFlags.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/tests/unit/use-feature-flags.spec.ts
Due: test, build

chore: bump version to 1.3.0
  apps/game/package.json
  package.json
Due: test, build

fix(ci): align pnpm versions and harden workflows
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/optimized-ci-cd.yml
  apps/game/package.json
  infrastructure/package.json
  packages/riddle-cli/package.json
  tools/composio/package.json
  tools/oclif/package.json
Due: test, build

fix(ci): use sudo for corepack enable and align pnpm to 10.30.3
  .circleci/config.yml
Due: none

fix(ci): avoid pnpm setup version conflicts
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

fix(ci): restore valid workflow expressions
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

fix(ci): relax format gate and ignore generated artifacts
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
  apps/game/.prettierignore
Due: test, build

fix(ci): make deploy failures non-blocking
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

fix(ci): unblock format checks in config package
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/optimized-ci-cd.yml
  packages/config/.prettierignore
Due: test, build

ci(deploy): use deploy-dev script in workflow
  .github/workflows/deploy-dev.yml
Due: none

ci(deploy): route preview to vercel and dev to aws
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

ci(deploy): make deploy paths non-blocking
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

ci(deploy): skip missing vercel/docs paths in ci
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

ci(workflows): guard docs deploy with runtime check
  .github/workflows/comprehensive-ci-cd.yml
  .github/workflows/optimized-ci-cd.yml
Due: none

fix(game): remove --no-experimental-webstorage from test scripts
  apps/game/package.json
Due: test, build

docs(17): research phase domain
  .planning/phases/17-repo-cleanup-docs-optimization/17-RESEARCH.md
Due: none

docs(17): create phase plan for repo cleanup, docs, and optimization
  .planning/ROADMAP.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-01-PLAN.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-02-PLAN.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-03-PLAN.md
Due: none

fix(17): revise plan 17-02 — add dependency audit task, fix empty files element
  .planning/phases/17-repo-cleanup-docs-optimization/17-02-PLAN.md
Due: none

docs(17): add validation strategy and rename visual polish phase 13→15
  .planning/phases/15-visual-polish-animations-bug-fixes/15-01-PLAN.md
  .planning/phases/15-visual-polish-animations-bug-fixes/15-02-PLAN.md
  .planning/phases/15-visual-polish-animations-bug-fixes/15-03-PLAN.md
  .planning/phases/15-visual-polish-animations-bug-fixes/15-04-PLAN.md
  .planning/phases/15-visual-polish-animations-bug-fixes/15-RESEARCH.md
  .planning/phases/17-repo-cleanup-docs-optimization/17-VALIDATION.md
Due: none

chore(17-02): install Knip and configure for monorepo dead code detection
  .aiignore
  .brew-packages
  .cursorrules
  .eslintignore
  .gitignore
  .gitignore.monorepo
  .goosehints
  .roomodes
  .vibemodes
  config.json
  debug-500-main-menu.png
  docs/archive/CI_CD_IMPLEMENTATION_SUMMARY.md
  docs/archive/COMPLETION-SUMMARY.md
  docs/archive/DEPLOYMENT-CHECKLIST.md
  flags.json
  junit.xml
  knip.json
  mcp-config.yaml
  nuxt.config.terraform.ts
  opencode.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pyproject-old.toml
  seed.spec.ts
  stagewise.json
  terraform.tfstate
  trigger.config.ts
  uv.lock
Due: test, build, build:docs, pages

fix(game): remove unused @ts-expect-error directives after nuxt upgrade
  apps/game/nuxt.config.ts
Due: test, build

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
