Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

chore: add todos for remaining E2E failures, Android build, mobile viewport, and fortune wheel verification
  .planning/STATE.md
  .planning/todos/pending/2026-04-10-fix-language-spec-e2e-failures.md
  .planning/todos/pending/2026-04-10-fix-mobile-website-not-full-page.md
  .planning/todos/pending/2026-04-10-fix-scoring-flow-spec-e2e-failures.md
  .planning/todos/pending/2026-04-10-verify-android-build-is-universal.md
  .planning/todos/pending/2026-04-10-verify-category-selection-in-fortune-wheel-flip-through-anim.md
Due: none

fix: resolve language switching bug by removing page reload and implementing reactive updates
  apps/game/pages/language.vue
  apps/game/playwright-report-simple/data/46f9196833563870f557f52eb19bb114a5ca403a.md
  apps/game/playwright-report-simple/index.html
Due: test, build

chore: add phase 22 — fortune wheel for alphabet selection using vue-fortunewheel
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-add-fortune-wheel-for-alphabet-selection-using-vue-fortunewh/.gitkeep
Due: none

feat(22-01): add fortune wheel dependency and type contracts
  apps/game/package.json
  apps/game/types/fortune-wheel.ts
Due: test, build

feat(22-01): add wheel wrapper and validated selection adapter
  apps/game/components/game/FortuneAlphabetWheel.vue
  apps/game/composables/useFortuneWheelSelection.ts
  apps/game/package.json
  apps/game/types/vue-fortune-wheel.d.ts
Due: test, build

test(22-01): cover wheel adapter validation and emit contract
  apps/game/tests/unit/components/fortune-alphabet-wheel.spec.ts
  apps/game/tests/unit/composables/use-fortune-wheel-selection.spec.ts
Due: test, build

docs(22-03): complete phase 22 execution metadata
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-add-fortune-wheel-for-alphabet-selection-using-vue-fortunewh/22-01-SUMMARY.md
  .planning/phases/22-add-fortune-wheel-for-alphabet-selection-using-vue-fortunewh/22-02-SUMMARY.md
  .planning/phases/22-add-fortune-wheel-for-alphabet-selection-using-vue-fortunewh/22-03-SUMMARY.md
Due: none

test(22-03): harden round-start e2e assertions for wheel flow
  apps/game/tests/e2e/round-start.spec.ts
Due: test, build

feat(22-02): integrate round-start with fortune wheel selection flow
  apps/game/components/game/FortuneAlphabetWheel.vue
  apps/game/pages/round-start.vue
Due: test, build

test(22-02): update e2e helpers and specs for wheel interactions
  apps/game/tests/e2e/helpers/game-flow.ts
  apps/game/tests/e2e/round-start.spec.ts
  apps/game/tests/e2e/translations-check.spec.ts
Due: test, build

docs(22-03): capture wheel e2e evidence and translation test updates
  .planning/phases/22-add-fortune-wheel-for-alphabet-selection-using-vue-fortunewh/22-E2E-VERIFICATION.md
Due: none

fix(game): stabilize language switch flow and query locale sync
  apps/game/pages/language.vue
  apps/game/plugins/i18n.client.ts
  apps/game/tests/e2e/language.spec.ts
Due: test, build

ci: add Capacitor Android debug APK workflow on tag push
  .github/workflows/capacitor-mobile-artifacts.yml
  scripts/mobile-build.sh
Due: none

fix(game): use useI18n instead of untyped $i18n for vue-tsc
  apps/game/components/Toast.vue
  apps/game/composables/useWebSocket.ts
Due: test, build

feat(game): add multilingual SEO, JSON-LD, and Lighthouse-oriented meta
  apps/game/app.vue
  apps/game/composables/useLocalizedSeo.ts
  apps/game/nuxt.config.ts
  apps/game/pages/credits.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/round-start.vue
  apps/game/pages/settings.vue
  apps/game/pages/splash.vue
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

docs(23): capture phase context
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-CONTEXT.md
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-DISCUSSION-LOG.md
Due: none

docs(state): record phase 23 context session
  .planning/STATE.md
Due: none

refactor(game): remove layout footer bar; keep version on credits only
  apps/game/layouts/default.vue
  apps/game/layouts/game.vue
  apps/game/layouts/menu.vue
Due: test, build

perf(mobile): tune Capacitor Android config, Gradle, and manifest
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/gradle.properties
  apps/mobile/capacitor.config.ts
Due: none

docs(23): research phase domain
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-RESEARCH.md
Due: none

docs(phase-23): add validation strategy
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-VALIDATION.md
Due: none

feat(mobile): add universal Android flavor alongside ARM play flavor
  .github/workflows/capacitor-mobile-artifacts.yml
  apps/mobile/android/app/build.gradle
  apps/mobile/capacitor.config.ts
  package.json
  scripts/mobile-build.sh
Due: test, build

docs(23): UI design contract
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-UI-SPEC.md
Due: none

fix(game): wire build:debug and generate:debug to DEBUG_BUILD
  apps/game/.localdev.json
  apps/game/package.json
  scripts/add-dev-scripts.js
Due: test, build

feat(types): add Zod schemas and validate IndexedDB reads
  apps/game/composables/useIndexedDB.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/schemas/game-schemas.ts
  packages/types/src/schemas/index.ts
  pnpm-lock.yaml
Due: test, build

docs(23): create phase execution plans
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/.gitkeep
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-01-PLAN.md
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-02-PLAN.md
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-03-PLAN.md
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-04-PLAN.md
Due: none

chore(23-01): add lighthouse tooling commands and turbo task
  apps/game/nuxt.config.ts
  apps/game/package.json
  pnpm-lock.yaml
  turbo.json
Due: test, build

test(game): align fixtures with Zod schemas and relax legacy DB shapes
  apps/game/tests/e2e/helpers/zod-session.ts
  apps/game/tests/integration/indexeddb-flow.spec.ts
  apps/game/tests/unit/composables/useGameLifecycle.spec.ts
  apps/game/tests/unit/composables/useIndexedDB.spec.ts
  apps/game/tests/unit/composables/usePersistence.spec.ts
  apps/game/tests/utils/factories.ts
  packages/types/src/schemas/fixtures.ts
  packages/types/src/schemas/game-schemas.ts
  packages/types/src/schemas/index.ts
Due: test, build

feat(game): default click sounds on GameButton, tada on answer submit
  apps/game/components/PlayerLeaderboard.vue
  apps/game/components/QuitModal.vue
  apps/game/components/game/GameButton.vue
  apps/game/composables/useAudio.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/tests/unit/composables/useAudio.spec.ts
Due: test, build

docs(23-01): capture phase performance baseline report
  .gitignore
  .planning/phases/23-improve-performance-and-accessibility-find-out-why-there-are/23-PERF-BASELINE.md
Due: none

test(23-02): add failing asset contract regression tests
  apps/game/tests/unit/use-assets.spec.ts
Due: test, build

feat(23-02): centralize asset path helpers and remove dead contracts
  apps/game/composables/useAssets.ts
  apps/game/composables/usePageSetup.ts
  apps/game/tests/unit/use-assets.spec.ts
Due: test, build

feat(23-02): migrate image references to canonical asset helper
  apps/game/components/Base/ImageButton.vue
  apps/game/components/SettingsModal.vue
  apps/game/layouts/game.vue
  apps/game/layouts/menu.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/round-start.vue
Due: test, build

feat(23-03): add reproducible webp optimization pipeline
  apps/game/package.json
  apps/game/public/assets/alphabets/back.webp
  apps/game/public/assets/alphabets/background.webp
  apps/game/public/assets/alphabets/category.webp
  apps/game/public/assets/alphabets/next.webp
  apps/game/public/assets/main-menu/menu.webp
  apps/game/public/assets/players/back.webp
  apps/game/public/assets/settings/back.webp
  apps/game/public/assets/settings/background.webp
  apps/game/public/assets/settings/music.webp
  apps/game/public/assets/settings/ok.webp
  apps/game/public/assets/settings/options.webp
  apps/game/public/assets/settings/sound.webp
  apps/game/public/assets/splash/background.webp
  apps/game/public/assets/splash/loading-down.webp
  apps/game/public/assets/splash/loading-top.webp
  apps/game/public/assets/splash/loading.webp
  apps/game/public/assets/splash/logo.webp
  apps/game/scripts/optimize-assets.mjs
Due: test, build

refactor(game): remove Socket.IO and ship pending game updates
  .opencode/package.json
  .vercel/project.json
  CLAUDE.md
  apps/game/app.vue
  apps/game/components/DebugPanel.vue
  apps/game/components/GameHistory.vue
  apps/game/components/NetworkStatusIndicator.vue
  apps/game/composables/useErrorSync.ts
  apps/game/composables/useFeatureFlags.ts
  apps/game/composables/useIndexedDB.ts
  apps/game/composables/useLodash.ts
  apps/game/composables/usePlayerManager.ts
  apps/game/composables/useSessionManager.ts
  apps/game/composables/useWebSocket.ts
  apps/game/layouts/default.vue
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/pages/leaderboard.vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/plugins/debug-button-align.client.ts
  apps/game/plugins/websocket.client.ts
  apps/game/server/plugins/socket.ts
  apps/game/stores/hooks/useSettings.ts
  apps/game/stores/settingsStore.ts
  apps/game/tests/e2e/helpers/waits.ts
  apps/game/tests/e2e/smoke/performance-smoke.spec.ts
  apps/game/tests/integration/websocket-flow.spec.ts
  apps/game/tests/unit/composables/usePlayerManager.spec.ts
  apps/game/tests/unit/composables/useSessionManager.spec.ts
  apps/game/tests/unit/game-history-sort.spec.ts
  apps/game/tests/unit/players-duplicate-names.spec.ts
  apps/game/tests/unit/projected-ranks.spec.ts
  apps/game/tests/unit/use-feature-flags.spec.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
  pnpm-lock.yaml
Due: test, build, build:docs, pages
