Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md

Initialize task: New task (Claude Code)
  .zenflow/tasks/new-task-claude-code-eb74/plan.md
Due: none

chore: add stagehand tooling and ci tweaks
  .claude/settings.local.json
  .gitlab-ci.yml
  CLAUDE.md
  apps/game/.vite/stats.html
  junit.xml
  main.py
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pyproject.toml
  scripts/aws-deploy.sh
  tools/crew_ai_tool/uv.lock
  tools/crowci/docker-compose.yml
  tools/my-stagehand-app/.cursorrules
  tools/my-stagehand-app/.env.example
  tools/my-stagehand-app/README.md
  tools/my-stagehand-app/claude.md
  tools/my-stagehand-app/index.ts
  tools/my-stagehand-app/package.json
  tools/my-stagehand-app/tsconfig.json
  uv.lock
Due: test, build, build:docs, pages

docs: last changes
  .zenflow/tasks/new-task-claude-code-eb74/plan.md
  .zenflow/tasks/new-task-claude-code-eb74/spec.md
Due: none

Initialize task: New task
  .zenflow/tasks/new-task-9ade/plan.md
Due: none

docs: last changes
  .zenflow/tasks/new-task-5e27/plan.md
  .zenflow/tasks/new-task-5e27/report.md
Due: none

refactor(game): extract GameAnswerForm component from game page
  apps/game/components/game/GameAnswerForm.vue
  apps/game/pages/game/[[gameId]].vue
Due: test, build

refactor(utils): extract validation rules from useForm to validators.ts
  apps/game/composables/useForm.ts
  apps/game/utils/validators.ts
Due: test, build

docs: mark step 6 complete in plan
  .zenflow/tasks/new-task-5e27/plan.md
Due: none

docs: mark step 8 complete in plan
  .zenflow/tasks/new-task-5e27/plan.md
Due: none

refactor: extract animation constants from pages and components
  .zenflow/tasks/new-task-5e27/plan.md
  apps/game/components/FortuneWheel.vue
  apps/game/components/SplashScreen.vue
  apps/game/composables/useModal.ts
  apps/game/composables/useNavigation.ts
  apps/game/pages/round-start.vue
  apps/game/utils/animation-constants.ts
Due: test, build

refactor(game): extract RoundSetupControls component from round-start page
  .zenflow/tasks/new-task-5e27/plan.md
  apps/game/components/RoundSetupControls.vue
  apps/game/pages/round-start.vue
Due: test, build

refactor(composables): split useIndexedDB into domain-specific composables
  .zenflow/tasks/new-task-5e27/plan.md
  apps/game/composables/useGameHistoryDB.ts
  apps/game/composables/useGameSessionDB.ts
  apps/game/composables/useIndexedDB.ts
  apps/game/composables/useLeaderboardDB.ts
  apps/game/composables/useStatisticsDB.ts
  apps/game/tests/unit/game-store-categories.spec.ts
  apps/game/tests/unit/game-store-multiplayer.spec.ts
  apps/game/tests/unit/game-store-session.spec.ts
  apps/game/tests/unit/game-store.spec.ts
Due: test, build

fix: resolve ASSET_DELETE_ARGS unbound variable on macOS bash 3.2
  .zenflow/tasks/new-task-9ade/investigation.md
  .zenflow/tasks/new-task-9ade/plan.md
Due: none

chore: mark implementation step as complete in plan.md
  .zenflow/tasks/new-task-9ade/plan.md
Due: none

Initialize task: New task
  .zenflow/tasks/new-task-5e27/plan.md
Due: none

refactor(game): remove legacy single-player score/attempts getters
  .zenflow/tasks/new-task-5e27/plan.md
  apps/game/components/DebugPanel.vue
  apps/game/composables/useGameActions.ts
  apps/game/stores/game.ts
  apps/game/tests/unit/game-store-session.spec.ts
  apps/game/tests/unit/use-game-actions.spec.ts
Due: test, build

test: add unit tests for useGameState, useGameActions, useStatistics, useIndexedDB
  .zenflow/tasks/new-task-5e27/plan.md
  .zenflow/tasks/new-task-5e27/spec.md
  apps/game/tests/unit/use-game-actions.spec.ts
  apps/game/tests/unit/use-game-state.spec.ts
  apps/game/tests/unit/use-indexed-db.spec.ts
  apps/game/tests/unit/use-statistics.spec.ts
Due: test, build

chore: remove tsbuildinfo files from git tracking (already in .gitignore)
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build

Investigation and Planning
  .zenflow/tasks/e-gemini-70a8/investigation.md
  .zenflow/tasks/e-gemini-70a8/plan.md
Due: none

Initialize task: e (Gemini)
  .zenflow/tasks/e-gemini-70a8/plan.md
Due: none

Implementation
  .zenflow/tasks/e-gemini-70a8/plan.md
  apps/game/tests/e2e/translations-check.spec.ts
  apps/game/tests/unit/translations.spec.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
  junit.xml
Due: test, build

Implementation
  apps/game/tests/e2e/translations-check.spec.ts
  junit.xml
Due: test, build

Implementation
  .zenflow/tasks/e-gemini-70a8/investigation.md
  .zenflow/tasks/e-gemini-70a8/plan.md
  apps/game/components/GameHistory.vue
  apps/game/components/Leaderboard.vue
  apps/game/pages/game/[[gameId]].vue
  apps/game/tests/e2e/translations-check.spec.ts
  junit.xml
Due: test, build

Cleanup script changes for task chat 4c807ab6-2ff4-4fa1-b3c2-4a5082774360
  .zenflow/tasks/e-gemini-70a8/plan.md
Due: none

fix(test): correct locale path in translations unit test
  apps/game/tests/unit/translations.spec.ts
Due: test, build

ci: restrict Vercel deployments to main branch only
  .github/workflows/deploy.yml
Due: none

fix: Remove `useRoundStore` and its `resetRound` calls from game navigation and round start logic.
  apps/game/app.vue
  apps/game/composables/useNavigation.ts
  apps/game/pages/round-start.vue
  packages/config/dist/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build

feat: Add 'menu' and 'options' translations and refactor game page logic for improved event handling and navigation.
  apps/game/app.vue
  apps/game/composables/useNavigation.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

fix: remove duplicate validationRules export to fix Nuxt warning
  apps/game/composables/useForm.ts
  apps/game/tests/unit/use-form.spec.ts
Due: test, build

docs: mark Make PR Mergeable step as complete in plan
  .zenflow/tasks/new-task-5e27/plan.md
Due: none

docs: add technical specification for iOS simulator e2e testing
  .zenflow/tasks/create-a-way-to-the-spawn-an-ios-4613/plan.md
  .zenflow/tasks/create-a-way-to-the-spawn-an-ios-4613/spec.md
Due: none
