Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

docs: add deployment quickstart guide and env examples
  .env.local.example
  DEPLOYMENT-QUICKSTART.md
Due: none

Initialize task: e (Claude Code)
  .zenflow/tasks/e-claude-code-9714/plan.md
Due: none

fix(i18n): add missing translation keys for scoring, leaderboard, menu, and settings
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
Due: test, build

fix(i18n): internationalize settings and credits pages
  apps/game/pages/credits.vue
  apps/game/pages/settings.vue
Due: test, build

test(i18n): add unit and E2E tests for translation key coverage
  apps/game/tests/e2e/i18n-no-raw-keys.spec.ts
  apps/game/tests/unit/i18n-keys.spec.ts
Due: test, build

docs: mark i18n fix plan steps as complete
  .zenflow/tasks/e-claude-code-9714/plan.md
Due: none

Initialize task: New task
  .zenflow/tasks/new-task-9ade/plan.md
Due: none

fix: resolve ASSET_DELETE_ARGS unbound variable on macOS bash 3.2
  .zenflow/tasks/new-task-9ade/investigation.md
  .zenflow/tasks/new-task-9ade/plan.md
  scripts/aws-deploy.sh
Due: none

chore: mark implementation step as complete in plan.md
  .zenflow/tasks/new-task-9ade/plan.md
Due: none

chore: mark 'Make PR mergeable' step complete in plan
  .zenflow/tasks/e-claude-code-9714/plan.md
Due: none

style(credits): remove dead CSS selectors from responsive media queries
  apps/game/pages/credits.vue
Due: test, build

chore: resolve merge conflicts and update project config
  .claude/settings.local.json
  .github/workflows/deploy.yml
  .mcp.json
  AGENTS.md
  CLAUDE.md
  apps/game/.vite/stats.html
  pnpm-workspace.yaml
Due: test, build, build:docs, pages

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs: capture todo - Switch CI/CD from CircleCI to Vercel
  .planning/STATE.md
  .planning/todos/pending/2026-02-13-switch-ci-from-circleci-to-vercel.md
Due: none

docs: capture todo - Add non-blocking GitHub Action for quality checks
  .planning/STATE.md
  .planning/todos/pending/2026-02-13-add-non-blocking-github-action-checks.md
Due: none

docs: capture todo - Push pending commits to remote
  .planning/STATE.md
  .planning/todos/pending/2026-02-13-push-pending-commits-to-remote.md
Due: none

chore: remove CircleCI and fix SCSS import paths for Vercel builds
  .circleci/E2E_TESTS_README.md
  .circleci/TRUNK_FLAKY_TESTS.md
  .circleci/config.yml
  .circleci/test-deploy.yml
  apps/game/components/game/GamePlayerCard.vue
  apps/game/components/layout/GameBackground.vue
  apps/game/components/layout/GamePanel.vue
  apps/game/nuxt.config.ts
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
Due: test, build

chore: replace broken tests workflow with non-blocking quality checks
  .github/workflows/tests.yml
Due: none

fix(quick-001): fix Dockerfile for pnpm monorepo build
  Dockerfile
Due: none

fix(quick-001): fix docker-compose health check port and dev pnpm version
  docker-compose.yml
Due: none

docs(quick-001): complete fix-docker-image-and-push plan
  .planning/STATE.md
  .planning/quick/001-fix-docker-image-and-push-working-versio/001-SUMMARY.md
Due: none

docs(quick-001): Fix Docker image and push working version to GitHub
  .planning/STATE.md
  .planning/quick/001-fix-docker-image-and-push-working-versio/001-PLAN.md
Due: none

fix: resolve i18n translation keys showing as raw text on players page
  apps/game/nuxt.config.ts
  apps/game/translations/i18n.config.ts
Due: test, build

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
