Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

feat(dev): disable minification and enable inline sourcemaps for development
  apps/game/nuxt.config.ts
  packages/config/vite.config.ts
Due: test, build

feat(debug): add DEBUG_BUILD flag for unminified production builds
  apps/game/nuxt.config.ts
  scripts/aws-deploy.sh
Due: test, build

feat: added docs
  .claude/settings.json
  .env.example
  CLAUDE.md
  apps/docs/content/architecture/overview.md
  apps/docs/content/design/overview.md
  apps/docs/content/development/getting-started.md
  apps/docs/content/infrastructure/overview.md
  apps/docs/content/infrastructure/terraform.md
  apps/docs/content/intro.md
  apps/docs/nuxt.config.ts
  apps/docs/pages/[...slug].vue
  apps/docs/pages/index.vue
  apps/game/.vite/stats.html
  apps/game/package.json
  docs/COMPREHENSIVE-TEST-REPORT.md
  docs/DOCUMENTATION.md
  docs/FINAL-TEST-RESULTS.md
  docs/TESTING-GUIDE.md
  docs/TESTING.md
  docs/archive/COMPREHENSIVE-TEST-SUMMARY.md
  docs/archive/TESTING-COMPLETE.md
  docs/deployment/GITLAB-PAGES-DEPLOYMENT.md
  docs/nuxt.config.ts
  docs/pages/[...slug].vue
  docs/setup/MONOREPO_ENVIRONMENT_GUIDE.md
  infrastructure/environments/development/terraform.tfvars.example
  infrastructure/environments/docs/README.md
  infrastructure/environments/docs/main.tf
  infrastructure/environments/docs/outputs.tf
  infrastructure/environments/docs/terraform.tfvars.example
  infrastructure/environments/docs/variables.tf
  infrastructure/environments/production/terraform.tfvars.example
  packages/config/dist/tsconfig.tsbuildinfo
  packages/riddle-cli/src/commands/stats.ts
  scripts/deploy-docs.sh
  scripts/e2e-deployed.sh
  scripts/lib/deploy-common.sh
  scripts/optimize-for-monorepo.sh
Due: test, build, build:docs, pages

fix(game): resolve circular dependency causing initialization error
  apps/game/stores/game.ts
Due: test, build

fix: deployment
  apps/docs/.data/content/contents.sqlite
  apps/docs/nuxt.config.ts
  docs/DEVELOPMENT_DEPLOYMENT_GUIDE.md
  packages/riddle-cli/package.json
  pnpm-lock.yaml
  scripts/test-dev-config.sh
Due: test, build, build:docs, pages

feat: configure development deployment for dev.riddlerush.de
  DEVELOPMENT_DEPLOYMENT_SUMMARY.md
Due: none

fix(pwa): increase workbox file size limit for debug builds
  apps/game/nuxt.config.ts
Due: test, build

fix: resolve plugin initialization errors for dev.riddlerush.de
  DEPLOYMENT_FIXES.md
  apps/game/nuxt.config.ts
  apps/game/plugins/fix-plugin-order.client.ts
Due: test, build

fix: defineNuxtPlugin accessed before init
  PEER_DEPENDENCY_FIXES.md
  packages/shared/package.json
Due: test, build

chore: fix peer dependency warnings
  apps/game/package.json
  package.json
  packages/types/package.json
Due: test, build

chore(riddle-cli): remove unused npm packages
  packages/riddle-cli/eslint.config.js
  packages/riddle-cli/package.json
  pnpm-lock.yaml
Due: test, build

fix(typecheck): resolve TypeScript errors in nuxt.config.ts
  apps/game/nuxt.config.ts
Due: test, build

fix(i18n): disable SSR switch-locale-path plugin for client-only app
  apps/game/nuxt.config.ts
Due: test, build

test: add deployment verification comment
  apps/game/pages/index.vue
Due: test, build

test: add visible deployment marker (17:12)
  apps/game/pages/index.vue
Due: test, build

chore: remove deployment test markers
  apps/game/pages/index.vue
Due: test, build

fix(i18n): disable SSR switch-locale-path plugin with experimental flag
  apps/docs/pages/index.vue
  packages/config/vite.config.ts
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
Due: test, build, build:docs, pages

refactor(i18n): remove custom SSR plugin filter module
  apps/game/nuxt.config.ts
Due: test, build

fix(pwa): improve splash screen and mobile PWA configuration
  apps/game/app.vue
  apps/game/components/SplashScreen.vue
  apps/game/nuxt.config.ts
Due: test, build

docs: add troubleshooting guides for browser extensions and PWA splash screen
  docs/development/PWA-SPLASH-SCREEN.md
  docs/troubleshooting/BROWSER-EXTENSION-ERRORS.md
Due: build:docs, pages

chore: add API keys section to .env.example
  .env.example
Due: none

fix: resolve NuxtPluginIndicator circular dependency error
  apps/game/docs/fixes/PLUGIN-INITIALIZATION-FIX.md
  apps/game/nuxt.config.ts
  apps/game/plugins/00.init-plugin-system.client.ts
  apps/game/plugins/filter-ssr-plugins.ts
  apps/game/plugins/fix-plugin-order.client.ts
Due: test, build

fix: ensure i18n plugin filtering works in production builds
  apps/game/nuxt.config.ts
Due: test, build

fix: filter out i18n preload plugin causing circular dependency
  .vscode/code-squad-threads.json
  .vscode/extensions.json
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  infrastructure/environments/development/tfplan
  scripts/check-deployment-status.sh
  scripts/lib/deploy-common.sh
  scripts/verify-and-update-terraform-outputs.sh
  terraform.tfstate
Due: test, build

fix: resolve circular dependency with i18n plugin initialization
  .idea/copilot.data.migration.agent.xml
  apps/game/nuxt.config.ts
  apps/game/plugins/00.init-plugin-system.client.ts
Due: test, build

chore: add forgejo binaries to gitignore
  .gitignore
Due: none

fix: resolve payload plugin circular dependency with client-side i18n
  .mcp.json
  apps/game/.vite/stats.html
  apps/game/composables/useI18n.ts
  apps/game/i18n.config.ts
  apps/game/llms.txt
  apps/game/nuxt.config.ts
  apps/game/package.json
  apps/game/plugins/error-sync.client.ts
  apps/game/plugins/filter-ssr-plugins.ts
  apps/game/plugins/i18n-init.client.ts
  apps/game/plugins/i18n.client.ts
  apps/game/tsconfig.json
  pnpm-lock.yaml
Due: test, build

fix: use delta-based score calculation to prevent duplicate point additions
  apps/game/stores/game.ts
Due: test, build

fix: start fixing end of the game
  .trunk/plugins/trunk
  .vibemodes
  .vscode/code-squad-threads.json
  .vscode/devBoost/activity.log
  .vscode/settings.json
  .windsurf/rules/sonarqube_mcp_instructions.mdc
  cfn-project/cfn-config.json
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
