Repository CloudDevCrusader/riddle-rush-mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, build:docs, pages

test:
  stage: test
  script:
  - chmod +x scripts/ci-test.sh && ./scripts/ci-test.sh

build:
  stage: build
  script:
  - chmod +x scripts/ci-build.sh && ./scripts/ci-build.sh
  artifacts:
    paths:
    - apps/game/.output/
    expire_in: 7 days
  needs:
  - job: test
    artifacts: false

build:docs:
  stage: build
  image: node:20
  before_script:
  - corepack enable && corepack prepare pnpm@10.27.0 --activate
  script:
  - pnpm install --frozen-lockfile
  - cd apps/docs
  - pnpm run generate
  ...

pages:
  stage: deploy
  dependencies:
  - build:docs
  script:
  - echo "Documentation deployed to GitLab Pages"
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: https://djdiox.gitlab.io/riddle-rush-nuxt-pwa

docs: rewrite CLAUDE.md for monorepo architecture
  CLAUDE.md
Due: build:docs, pages

feat(11-01): add dismissal control props to GameModal
  apps/game/components/game/GameModal.vue
Due: test, build

feat(11-01): add danger variant to GameButton
  apps/game/components/game/GameButton.vue
Due: test, build

docs(11-01): complete component extensions plan
  .planning/STATE.md
  .planning/phases/11-modal-dialogs/11-01-SUMMARY.md
  .tolgeerc.json
Due: none

refactor(11-02): refactor QuitModal to use GameModal composition
  apps/game/components/QuitModal.vue
  apps/game/pages/game/[[gameId]].vue
Due: test, build

feat(11-03): refactor PauseModal to CSS-first with GameModal
  apps/game/components/PauseModal.vue
  apps/game/pages/game/[[gameId]].vue
Due: test, build

chore: sync workspace updates
  .claude/settings.json
  .claude/settings.local.json
  .env.example
  .gitignore
  .idea/aws.xml
  .idea/gbrowsers.xml
  .idea/vcs.xml
  .planning/PROJECT.md
  .planning/config.json
  .planning/phases/07-player-setup/07-02-PLAN.md
  .planning/phases/07-player-setup/07-02-SUMMARY.md
  .planning/phases/08-core-gameplay/08-01-PLAN.md
  .planning/phases/08-core-gameplay/08-02-PLAN.md
  .planning/phases/08-core-gameplay/08-RESEARCH.md
  .tolgeerc.json
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  README.md
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
  apps/game/package.json
  apps/game/pages/credits.vue
  docs/mockups/slack-avatar
  infrastructure/.gocli
  infrastructure/package.json
  package.json
  pnpm-lock.yaml
Due: test, build, build:docs, pages

fix(i18n): point langDir to i18n/locales
  apps/game/nuxt.config.ts
Due: test, build

fix: missing translation keys
  .tolgeerc.json
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
Due: test, build

feat: Upgrade nuxt from 4.2.2 to 4.3
  apps/game/package.json
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/round-start.vue
  packages/shared/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: test, build

fix(i18n): resolve translation loading issue by renaming i18n directory and updating path
  apps/game/.vite/stats.html
  apps/game/nuxt.config.ts
  apps/game/translations/locales/de.json
  apps/game/translations/locales/en.json
Due: test, build

feat(layout): display app version in footer in development mode
  apps/game/layouts/default.vue
  apps/game/layouts/game.vue
  apps/game/layouts/menu.vue
Due: test, build

docs(11-02): complete quit modal refactoring plan
  .planning/STATE.md
  .planning/phases/11-modal-dialogs/11-02-SUMMARY.md
Due: none

fix(11-02): correct i18n langDir path to ./translations/locales
  apps/game/nuxt.config.ts
Due: test, build

fix(i18n): move locales to i18n/locales for @nuxtjs/i18n v10 compatibility
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
  apps/game/nuxt.config.ts
Due: test, build

docs(11-03): complete pause modal refactoring plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-modal-dialogs/11-03-SUMMARY.md
Due: none

fix: design bugs + translations could not be loaded
  apps/game/i18n.config.ts
  apps/game/i18n/locales/de.json
  apps/game/i18n/locales/en.json
  apps/game/nuxt.config.ts
  apps/game/pages/game/[[gameId]].vue
  apps/game/pages/index.vue
  apps/game/pages/language.vue
  apps/game/pages/leaderboard.vue
  apps/game/pages/players.vue
  apps/game/pages/results/[[gameId]].vue
  apps/game/pages/round-start.vue
  apps/game/pages/splash.vue
Due: test, build

docs(12): capture phase context
  .planning/phases/12-app-optimization-refactoring/12-CONTEXT.md
  apps/game/composables/useAudio.ts
  tools/voltagent/index.tsx
Due: test, build

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs(12): create phase plan
  .planning/ROADMAP.md
  .planning/phases/12-app-optimization-refactoring/12-01-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-02-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-03-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-04-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-05-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-06-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-07-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-08-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-09-PLAN.md
  .planning/phases/12-app-optimization-refactoring/12-10-PLAN.md
Due: none

docs: add deployment quickstart guide and env examples
  .env.local.example
  DEPLOYMENT-QUICKSTART.md
Due: none

Path conditions:
  test: (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, .gitlab-ci.yml, scripts/ci-test.sh) or (any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json)
  build: any of: apps/game/**/*, packages/**/*, pnpm-lock.yaml, package.json, scripts/ci-build.sh
  build:docs: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
  pages: any of: apps/docs/**/*, docs/**/*, CLAUDE.md, README.md
